[2019-03-01 19:53] hughcameron opened #1 "ModuleNotFoundError when importing S3_hook"
**Description**

When running a DAG that writes files to an S3 bucket via the S3_hook an module not found error occurs.

**Steps to reproduce the issue:**

1. Create S3 connection via Admin > Connections in the Airflow interface
2. Develop a DAG with `from airflow.hooks.S3_hook import S3_hook`
3. Execute DAG

**Describe the results you received:**
Stack trace of error below:

[code]

**Describe th

[2019-03-04 12:01] tompizmor commented on #1
Hi @hughcameron,

Thanks for letting us know. Airflow can be installed with different [extra packages](https://airflow.apache.org/installation.html#extra-packages) and the S3 one is not included in the bitnami docker image.

We will work on adding it and release a new version. I will update this issue once the release is completed.

[2019-03-07 07:45] tompizmor commented on #1
Hi @hughcameron,

I just wanted to let you know that we have now included the `S3` module in airflow so you should not get that error if you try with the latest version.
Please let me know if you find any other issue.

[2019-03-07 21:27] hughcameron commented on #1
Thanks so much @tompizmor - I'll check it out.

[2019-03-08 12:29] tompizmor commented on #1
OK! Let me know whatever is the result!

[2019-03-15 19:48] hughcameron commented on #1
Hey @tompizmor - just following up. I still wasn't able to to get the hook import working from the image but thanks to your comment above it worked after I configured airflow with a `requirements.txt` like this:

[code]

[2019-03-15 19:48] #1 closed

[2019-05-19 19:18] 5amfung opened #2 "Where are the data and where to store my dags?"
**Description**

I can't quite figure out where all the data are stored and where I should put my dags.  I following the instruction at https://github.com/bitnami/bitnami-docker-airflow#persisting-your-application to most host directories as data volumes.  I expect the postgres, redis, and airflow log and data would be stored at there, but that wasn't the case.

**Steps to reproduce the issue:**

[2019-05-20 09:36] alemorcuq commented on #2
Hi, @5amfung.

What data do you expect to be persisted from Airflow? This container persists the `/opt/bitnami/airflow/data` directory, but it's empty by default.

Regarding your dags, you should mount them to `/opt/bitnami/airflow/dags`. We will make sure to document that.

Regards,
Alejandro

[2019-05-20 21:37] 5amfung commented on #2
@alemorcuq For example, I want to persiste the data from Postgres database.

Also if I want to change the configuration of Airflow, how and where do it access `airflow.cfg`?  I don't think the documentation is clear on that.  I know I could do some digging to figure it all out, but that would probably take me some time to do it.

Thank you.

[2019-05-20 21:39] 5amfung commented on #2
Also where do I access the airflow log?  `/opt/bitnami/airflow/logs`?

[2019-05-21 07:26] alemorcuq commented on #2
Hi, @5amfung.

To persist the data from the Postgresql database, you have to mount your volume to the `/bitnami/postgresql` directory. We are in the process of updating our documentation to reflect that.

You can find the `airflow.cfg` file under `/opt/bitnami/airflow/airflow.cfg`, and the `logs` directory under `/opt/bitnami/airflow/logs`. You can access them by accessing the container. For examp

[2019-06-10 17:04] #2 closed

[2019-06-13 09:17] LeonGraveland opened #5 "can't install python package in container"
**Description**
I'm trying to install additional python packages, to use them in my scripts that the dags will activate. I'm looking for the best practice to do so, in this case I wan't to use the package azure-storage. Currently I bash into the container and try to install the package with pip3.

Additional question, will i have to install this package in all the airflow containers? (Worker / Web

[2019-06-13 15:36] rafariossaa commented on #5
Hi @LeonGraveland,
  Installing additional packages can be complicated depending on what the package needs. In your case, you need to install gcc, but it is very likely that you will need extra packages.
  What I would suggest is to add what is needed to the Dockerfile and then build your customized imaged, so you can reuse it, instead of accessing the container and doing it in the shell.

Best re

[2019-06-13 20:31] LeonGraveland commented on #5
Hi @rafariossaa ,
Thank you so much for your time to reply, really appreciate the effort!

I tried to rebuild the image by customizing the dockerfile in multiple ways, but unfortunately it didn't work out, I do not have experience adding python packages to a docker image. Any directions on how to add a python package to this images?

I also noticed the closed issue [https://github.com/bitnami/bitn

[2019-06-17 15:33] rafariossaa commented on #5
Hi @LeonGraveland,

This is what I tried:
- Clone this repository
- Go to bitnami-docker-airflow/1/debian-9
- Edit the Dockerfile and add this line under the other `RUN install_packages ...` line:
`RUN install_packages gcc  libstdc++-6-dev libssl-dev`
- Build the image: `docker build -t bitnami/airflow:1 .`
- Start the compose: `cd ../.. && docker-compose  up`
- Once started,  you should be able t

[2019-06-17 19:44] AnthonyMRodrigues commented on #1
Hi.
I started to use this project and even using the last docker image version, still getting the same error that was reported before.
Any help?

[2019-06-18 10:18] tompizmor commented on #1
@AnthonyMRodrigues, could you give us some instructions so we can try to reproduce the issue?
Do you have any sample DAG that we can use that uses the s3 module?

[2019-06-18 20:48] AnthonyMRodrigues commented on #1
@tompizmor thanks for helping me.
My DAG is simple, just call a class that starts S3.

Dag:
`from src.imports import dataToS3
S3Obj = dataToS3
S3Obj.list()
`

Class:

`from airflow.hooks.S3_hook import S3Hook
from airflow.hooks.base_hook import BaseHook
def __init__():
self.s3 = self.s3 = S3Hook(aws_conn_id='s3-datalake')`

After this class init, I got the same error.

[2019-06-18 20:48:03,098] {p

[2019-06-18 20:56] AnthonyMRodrigues commented on #1
I tried to run using pythonenvoperator, but if I do that, my packages are not loaded.
Also tried to run a bash operator installing boto and deps, also don't work,

[2019-06-19 13:20] tompizmor commented on #1
Hello @AnthonyMRodrigues,

I just wanted to let you know that we have already identified the issue. We will work on fixing it and release a new revision of the image. I will update this issue once that happens.

[2019-06-19 16:37] AnthonyMRodrigues commented on #1
@tompizmor  Thanks very much.
I'll wait for it.

[2019-06-25 13:17] tompizmor commented on #1
@AnthonyMRodrigues New images have been released for Airlfow, Airflow Scheduler, and Airflow Worker. The `botocore.docs` module is now included.

Let me know if it works now!

[2019-06-25 14:03] AnthonyMRodrigues commented on #1
Thanks @tompizmor
I'll check and tell you.

[2019-07-03 10:56] LeonGraveland commented on #5
Hi @rafariossaa
Thanks again for the effort and your response. I still have to test it, but it looks like a good solution.

 However, would it be possible to add the `pip3 install azure_storage'` somewhere in the dockerfile? That way i can create my personal airflow images with all the dependencies I would love to have in all my projects.

regards, Leon

[2019-07-05 07:10] rafariossaa commented on #5
Hi @LeonGraveland ,
  In order to do that in the Dockerfile, you have to start the venv first.
  Try with this Dockerfile. It is the one you can find in the debian directory but I added the pip install line:
[code]

Best regards

[2019-07-05 09:02] LeonGraveland commented on #5
Dear @rafariossaa ,

I'm very grateful for your help! Will try this as soon as I got the time the coming days.

Two additional questions:
1. Should i adjust all the three airflow images (scheduler/worker/web) or just one of the three?
2. Is this package only available in that particular virtual environment within the container or is it 'widely available' in the entire container? Don't know if this

[2019-07-08 06:42] rafariossaa commented on #5
Hi @LeonGraveland,
  First of all, thanks for your kind words.
  Regarding you questions:
  1) I am not a airflow expert, but I think you only need to add it to the worker container.
  2) As you can see in the dockerfile, it is installed in the virtual environment. If you python code is executed in the same virtual environment you should not have issues.

Best regards,
Rafael Rios Saavedra

[2019-07-25 18:45] ernest-andela opened #6 "What is the default email and password to log in to Airflow Dashboard"
I cannot log in after running command below

[code]

[2019-07-25 19:02] ernest-andela commented on #6
Found:

user
bitnami

[2019-07-25 19:02] #6 closed

[2019-07-28 07:27] #5 closed

[2019-08-04 10:01] IngTecEduardo opened #7 "I don't see my file in the Airflow user interface."
**Description**

I am putting into folder `/opt/bitnami/airflow/dags` my custom dags but user interface of Airflow doesn't show it when I refresh it.

**Steps to reproduce the issue:**

1. Run docker-compose.yml: I use this: [https://github.com/bitnami/bitnami-docker-airflow/blob/master/docker-compose.yml](https://github.com/bitnami/bitnami-docker-airflow/blob/master/docker-compose.yml)
2. I put m

[2019-08-05 06:35] aerasoft opened #8 "ERROR Elasticbeanstalk Docker: false' is not a valid value for 'databaseUseSSL'. Allowed: yes, no"
[code]

[2019-08-05 06:43] rafariossaa commented on #8
Hi @aerasoft,
   Could you give me more context ?
   As you can see [here](https://github.com/bitnami/bitnami-docker-airflow#user-content-use-an-existing-database) those parameters are not `true|false` but `yes|no`

[2019-08-05 06:58] miguelaeh commented on #7
Hi @IngTecEduardo ,
Thank you very much for reporting. I can reproduce it. I am going to create an internal task to solve it. We will update this thread when we have the solution.
Thank you very much.

[2019-08-05 07:17] aerasoft commented on #8
I just deployed to Elasticbeanstalk docker using your image and set this AIRFLOW_DATABASE_USE_SSL to yes as Environment variable.

For some reason this https://github.com/bitnami/bitnami-docker-airflow/blob/master/1/debian-9/rootfs/airflow-inputs.json#L6 is loading the global env databaseUseSSL as true. Can l edit this file to "yes"?

Also, l am getting this error below:
[code]
https://github.com/

[2019-08-05 10:53] tompizmor commented on #7
How much time have you waited for after mounting the DAG file? I have tested this in the past and it took a couple of minutes until I could see the DAG in the web interface.

[2019-08-05 15:13] IngTecEduardo commented on #7
In my case, I think it is not due to the time. I have it running since yesterday and it is not shown in the user interface.

[code]

[2019-08-05 17:09] aerasoft commented on #8
@rafariossaa Please any update?

[2019-08-06 04:47] #8 closed

[2019-08-06 08:12] miguelaeh commented on #7
I can confirm that it doesn't appear after 20 minutes.

[2019-08-07 19:02] aerasoft opened #9 "How to install netbase: missing /etc/protocols"
I followed this to install netbase as root inside docker and it didn't work https://stackoverflow.com/questions/40184788/protocol-not-found-socket-getprotobyname#answer-40185488

I need to install netbase because of this error l filed for Sentry https://github.com/getsentry/sentry-airflow/issues/9

[2019-08-08 07:05] rafariossaa commented on #9
Hi @aerasoft,
   Could you give more detail of what you have tried, any errors that appeared, etc ?

[2019-08-12 09:36] KindYAK opened #10 "Python 3.7 support"
Is there an ETA on Python 3.7 support?

Thank you

[2019-08-12 10:13] alemorcuq commented on #10
Hi, @KindYAK.

At the moment there is no ETA for Python 3.7 support, but thank you very much for showing your interest on it.

Regards,
Alejandro

[2019-08-15 14:51] swathiAMD opened #11 "Azure module on the airflow"
Hi,

  I have installed the bitnami helm chart to deploy the Airflow on the Azure Kubernetes Service.  I m trying to use the wasb_hook to connect to the Azure blob service. But i get message saying the Azure module is not found. I though this Airflow came with the libraries in it. Now i m not sure how to resolve this issue. Any work around?

[2019-08-16 08:11] miguelaeh commented on #11
Hi @swathiAMD ,
I think you need to install it manually. Please, check [this](https://github.com/bitnami/bitnami-docker-airflow/issues/5#issuecomment-502733904) there is a similar workaround there. Let us know if you still having problems after that.

[2019-08-21 15:23] beltran-rubo commented on #7
Sorry for the delay @IngTecEduardo, the issue is the docker-compose.yaml does not include airflow-scheduler nor redis. Please use this one instead https://github.com/bitnami/bitnami-docker-airflow-scheduler/

We will work on adding the required components in the docker-compose.yml file in this repo

[2019-08-23 07:03] beltran-rubo commented on #7
Please try again with the new docker-compose.yaml file that is published now in this repository, that should fix your issue: https://github.com/bitnami/bitnami-docker-airflow

Please reopen this issue if you find any problems.

[2019-08-23 07:41] #7 closed

[2019-08-28 07:41] #9 closed

[2019-09-01 11:12] #10 closed

[2019-09-04 11:54] aaditya-panik opened #12 "Load Examples Environment Variable"
**Description**

Setting the `AIRFLOW_LOAD_EXAMPLES` to `no` doesn't seem to have any effect and the default is used. Am I missing something here?

**Steps to reproduce the issue:**

Same docker-compose.yml file with `airflow-scheduler.environment` having the `AIRFLOW_LOAD_EXAMPLES=no` entry.

**Describe the results you received:**

Example DAGs shipped with Airflow are present in the Airflow UI.

[2019-09-05 09:26] #11 closed

[2019-09-05 11:25] andresbono commented on #12
Hi @aaditya-panik, can you add the environment variable in the `airflow-scheduler` service too? Please make sure that you start again from a clean by removing the docker volumes.

[2019-09-05 15:39] aaditya-panik commented on #12
Hi @andresbono, I seem to have made a slight mistake in the issue description. I meant to say `airflow-scheduler.environment` and not `airflow.environment`. Thanks for that. I followed the steps again with no volumes and it seems to still show up. Just to make sure I'm not mistaken if I do set `AIRFLOW_LOAD_EXAMPLES=no` in `airflow-scheduler.environment`, when I open the UI there should no preload

[2019-09-06 11:39] andresbono commented on #12
That's correct. What we did was:

1) Make sure no volumes are present
[code]
2) Modify the `docker-compose.yml` file
[code]

3) Start the containers and access the web UI:

[code]

![image](https://user-images.githubusercontent.com/1057973/64425146-40672f80-d0ab-11e9-817f-f3a65860f607.png)

Make sure you add the en var variable in both containers: `airflow` and `airflow-scheduler`.

[2019-09-06 12:54] aaditya-panik commented on #12
Got it, thanks @andresbono ! I think the documentation doesn't include `AIRFLOW_LOAD_EXAMPLES` for `airflow.environment` and only shows under `airflow-scheduler.environment`.

[2019-09-09 06:30] andresbono commented on #12
Thanks for noticing, @aaditya-panik. We are going submit a PR with the fix shortly.

[2019-09-09 07:03] #12 closed

[2019-09-09 07:03] andresbono commented on #12
Done @aaditya-panik!

[2019-10-23 13:57] hleb-straltsou commented on #7
This issue is reproducible for me. I've tried steps described by @IngTecEduardo . Please help me.

[2019-10-25 20:24] cccs-jc opened #14 "Overriding airflow settings does not work"
I'm following the example in the README file. It says you can override the airflow configuration by specifying an environment variable AIRFLOW__<SECTION>__<KEY> with the two underscores around the section. I've followed the instructions

docker run -d --name airflow -p 8080:8080 \
    -e AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho= \
    -e AIRFLOW_EXECUTOR=CeleryExecutor \

[2019-10-28 11:32] marcosbc commented on #14
Hi @cccs-jc, we have been able to reproduce your issue.

At first I cannot see why this is not working, as the environment variables should be detected by Airflow, which is in charge of setting the configuration for the initial configuration file, as mentioned in the official [documentation](https://airflow.apache.org/howto/set-config.html). Therefore this needs additional investigation.

I've cre

[2019-11-05 20:29] cccs-cat001 opened #15 "Airflow papermill operator not found"
**Description**

I'm trying to use the papermill operator for airflow. Airflow complains that there is no module for PapermillOperator. It appears that airflow doesn't come installed with all the operators, which is fine. So I exec into the container and `pip install apache-airflow[papermill]` but it gives me an error:
[code]
I tried installing the papermill operator on a different machine with pl

[2019-11-06 13:13] cccs-cat001 commented on #15
I tried installing some other, non-Airflow packages and got the same error. This time it was trying to install the plone.staticresources package after successfully installing many other plone packages:
[code]

[2019-11-07 03:28] cccs-jc commented on #14
Thanks, looking forward to the fix

[2019-11-07 09:12] andresbono commented on #15
Hi @cccs-cat001, we would like to reproduce the issue first so we can find solutions. However, we couldn't get the same error when trying to install the operator with pip.

What is the specific version of the container that you are using? You can get that information by showing the `BITNAMI_IMAGE_VERSION` environment variable inside the container:

[code]

Are you just doing `kubectl exec ...` and

[2019-11-13 11:55] MichaelJDrK opened #16 "Connection to Oracle"
**Description**

In airflow I want to connect to a Oracle DB, so I need the Oracle Instant client in the Image as well as the necessary apache-airflow oracle python modules.

How do I add missing dependencies? There is no documentation whats the official way to do that.

[2019-11-14 10:18] andresbono commented on #16
Hi @MichaelJDrK, can you point us to Airflow documentation where this is explained so we can try to adapt the steps to the container?

[2019-11-14 12:28] kpa92 commented on #16
Hi,

I had a simmilar issue with the puckel/docker-airflow image. My solution was to install the oracle client inside the docker container. Probably, you could do the same with this image too.

This website was really helpful for me: http://mritjudge.com/linux/install-oracle-instant-client-on-ubuntu-linux/

And here is the relevant part from my Dockerfile. I hope it helps:

[code]

[2019-11-14 18:52] chrisbeach commented on #14
I'm also finding that overriding settings has no effect e.g.

    environment:
        - AIRFLOW_LOAD_EXAMPLES=no

(I have tried applying this to all three of airflow, worker and scheduler). Still the examples are loaded.

[2019-11-15 03:19] VioletVivirand opened #17 "Get "Permission Denied" when calling DockerOperator"
**Description**

Hi guys! I gonna use [Docker Operator](https://airflow.apache.org/_api/airflow/operators/docker_operator/index.html) inside [bitnami-docker-airflow-worker](https://github.com/bitnami/bitnami-docker-airflow-worker), but gets `permission denied` message returned. I've tried to add `-u $(id -u root)` or `-u 0`([Reference](https://github.com/bitnami/bitnami-docker-postgresql/issues/87

[2019-11-15 09:29] andresbono commented on #16
Hi @kpa92, thanks for the information. Will you give it a try, @MichaelJDrK?

[2019-11-15 12:41] andresbono commented on #14
Hi @chrisbeach, can you take a look at this issue? https://github.com/bitnami/bitnami-docker-airflow/issues/12. It may be useful for you.

[2019-11-15 13:43] andresbono commented on #17
Can you remove the volumes and try to deploy the docker-compose again? Maybe doing it from scratch works.

[2019-11-17 09:40] chrisbeach commented on #14
Thanks @andresbono - that fixed it for me.

[2019-11-25 15:03] olsw opened #18 "Using kubeapps and installing python dependencies"
**Description**

I have used kubeapps to install airflow but some of the plugins i need to install require that pip is used. There doesnt seem to be a way to easily get this in place using kubeapps. Is the recommendation therefore to create my own version of the Dockerfile and not use kubeapps? Or is there a way to make my own versions but still use kubeapps? Documentation still seems quite sparse

[2019-11-25 15:13] javsalgar commented on #18
Hi,

I think that the solution lies in allowing custom init scripts so you can use more complex logic (such as installing pip). If we allow that, you could still use kubeapps without issues.

If you do not want to wait and want to create your custom image, you can still use kubeapps by changing the values.yaml file (advanced mode) and setting a different image.

[2019-11-25 15:21] olsw commented on #18
Yes custom init scripts would be great but sounds like i should build the images for now.
Stupid question time - how do i get into advanced mode?

[2019-11-25 15:25] javsalgar commented on #18
Hi,

In this guide you can see how the values.yaml file is edited https://docs.vmware.com/en/VMware-Cloud-Marketplace/services/user-guide/GUID-368B72D0-A84E-46A9-AE2C-5F2D73F55C47.html

[2019-11-27 10:13] #15 closed

[2019-12-05 11:15] #16 closed

[2019-12-12 16:18] jmalayya opened #20 "Airflow UI - (HTTP 405 Method Not Allowed)"
**Description**

Airflow UI - getting 405 when trying to trigger DAG and Refresh button all other requests are working fine

This error (HTTP 405 Method Not Allowed) means that Internet Explorer was able to connect to the website, but the site has a programming error.
--

**Steps to reproduce the issue:**

1. Spin EC2
2. followed all 5 steps documented by Bitnami to create containers. All containe

[2019-12-13 14:57] jmalayya commented on #20
Browser issue. UI is incompatible with IE. Works fine with Chrome

[2019-12-13 14:57] #20 closed

[2019-12-15 16:55] #18 closed

[2019-12-26 23:27] cccs-cat001 opened #21 "How is airflow.cfg generated?"
**Description**

Not so much an issue, more of a question. I was wondering how the airflow.cfg file is generated. When I run airflow on my own machine, it's created automatically with default values and is commented on each line, but whenever I run this image (or any of the other airflow images) It's not that cfg, it seems to be a pre-made one that gets populated with bitnami specific settings. Ca

[2019-12-27 03:50] sameersbn commented on #21
@cccs-cat001 The container executes the `/opt/bitnami/airflow/venv/bin/airflow initdb` which generates the configuration. This command gets executed from the  `nami_initialize airflow` command from the  `app-entrypoint.sh` script.

If you are interested in digging deeper into the module initialisation logic, take a look at the contents of `/.nami/components/com.bitnami.airflow` folder in the airfl

[2020-01-16 06:02] #21 closed

[2020-01-18 11:19] mirekphd opened #22 "Hard-coded env vars, including passwords [BUG] [SECURITY]"
We have hard-coded environment variables problem here. For instance try changing all occurences of "bitnami1" to "bitnami2" in the [`docker-compose.yml`](https://raw.githubusercontent.com/bitnami/bitnami-docker-airflow-scheduler/master/docker-compose.yml) and then start this config with `docker-compose` and you will see that Airflow cannot connect to PostgreSQL, because password has been hard-code

[2020-01-20 08:25] dani8art commented on #22
Hi @mirekphd

I'm not able to reproduce it, let me try a bit more, I will come back to you soon. Could you check #12 while I'm checking your issue in my environment?

Thank you!
Regards.

[2020-01-20 23:10] framled opened #23 "nami error"
[code]

This error appear the first time, then execute with no error at all

**Version**

airflow version: 1.10.7-debian-9-r20

[2020-01-21 07:29] andresbono commented on #23
Hi @framled, if you see the Dockerfile, there is an environment variable named `NSS_WRAPPER_PASSWD`:

https://github.com/bitnami/bitnami-docker-airflow/blob/9619efa78856fddbe2b05ced19f90e8a46dea6a2/1/debian-9/Dockerfile#L50

At the time the error message appears, that file doesn't exist yet, but during the initialization, the file is created.

Are you facing any issue, other than getting the "ugly

[2020-01-22 15:00] mustela opened #24 "[bitnami/airflow] UnicodeEncodeError: 'ascii' codec can't encode character '\xe9' in position 128: ordinal not in range(128)"
Hey there! Im moving this issue here, since is not a "problem" with the chart but with the image

https://github.com/bitnami/charts/issues/1845

Im having a hard time with logging.info. Im moving things from a pg db into another pg db using the PostgresHook. And when inserting the record into the second db, Im having the following error:

[code]

As you can see here, before inserting it tries to l

[2020-01-22 15:54] mustela commented on #24
So the image with these changes seems to be working https://github.com/bitnami/bitnami-docker-airflow/compare/master...mustela:master

[2020-01-23 09:59] juan131 commented on #24
Hi @mustela

Thanks so much for reporting this issue! As you mentioned it's a problem with the locale settings.

[code]

I'm working on adding these change to our image that should fix the issue ⏫

[2020-01-24 11:31] juan131 commented on #24
Hi @mustela

A new docker image has been released including the right locale settings (see https://github.com/bitnami/bitnami-docker-airflow/blob/master/1/debian-10/Dockerfile#L19)
Please note this image is based on `debian 10` "buster" (instead of `debian 9`) since we're moving the whole catalog from `debian-9` to `debian-10`.

Could you give it a try? The image tag is `1.10.7-debian-10-r0`

[2020-01-24 12:35] mustela commented on #24
Oh that's quite a change :) but give me some time and Ill def give it a try! Thanks a lot!

[2020-01-24 14:37] mustela commented on #24
@juan131 there is still an issue, you can easily test it running a container -> python and try to log some string like:

[code]

[2020-01-24 14:49] mustela commented on #24
Also, if you run `locale` inside the container you will see
[code]

While using the changes I presented you will get:
[code]

[2020-01-27 08:26] juan131 commented on #24
Hi @mustela

What version of Airflow are you using? I'm not able to reproduce the issue...

[code]

[2020-01-28 19:10] leobenkel commented on #17
how did you solve the issue here?

[2020-01-29 08:11] andresbono commented on #17
Hi @leobenkel, are you facing the same issue? We never got an answer from @VioletVivirand, so we don't know if this was solved or not.

[2020-01-29 18:00] leobenkel commented on #17
Yes, I am getting the same error.

[2020-01-29 21:36] aissarmurad opened #25 "[FEATURE REQUEST] Improve documentation process"
**Description**

Bitnami Apache Airflow images are poorly documented.

**Describe the results you received:**

The Bitnami Apache Airflow images are poorly documented
and I did not found an easy way to contribute.

**Describe the results you expected:**

It would be great if the documentation would be versioned and use markdown.

[2020-01-29 22:05] aissarmurad opened #26 "[BUG REPORT INFORMATION] LDAP3 lib is not found"
-------------------------------
    BUG REPORT INFORMATION
-------------------------------

**Description**

**Steps to reproduce the issue:**

1. First Step, set up the Airflow LDAP (you can do that using Environment Variables)
[code]
2. Run the services using the `docker-compose.yml`

**Describe the results you received:**

[code]

**Describe the results you expected:**

I'd like to have the lda

[2020-01-29 22:07] aissarmurad commented on #26
Can I submit a PR?

[2020-01-30 02:37] aerasoft opened #27 "Permission Error: Unable to configure handler 'processor'"
I am getting the error below after installing Airflow

[code]

[2020-01-30 09:36] andresbono commented on #17
Ok, we are reopening the issue then.

Did you try this already? https://github.com/bitnami/bitnami-docker-airflow/issues/17#issuecomment-554363188

[2020-01-30 15:16] aissarmurad commented on #27
@aerasoft Are you using docker-compose to run that?

Can you check it inside the container?

[code]

[2020-01-30 16:19] javsalgar commented on #25
Hi,

The documentation is located in the README.md file in this repository. It uses markdown and is open to Pull Requests. Could you let us know which sections you are currently missing?

[2020-01-30 16:29] javsalgar commented on #26
Hi,

Thank you very much for reporting. Feel free to submit a PR to this repository and we will review it.

[2020-01-30 16:31] javsalgar commented on #27
Hi,

In addition to the above, what's the system you are using for running Docker?

[2020-01-30 18:47] leobenkel commented on #17
Yes several times

[2020-01-30 18:48] leobenkel commented on #17
I think it is a port issue. docker is trying to pull from ECR and the ports are not open but I can't find any documentation on what port to open and I don't know how to add more debug print logs in airflow to tell me what connection has failed

[2020-01-31 09:07] andresbono commented on #17
Does it make sense that you ask about it in the Airflow Community channels?

https://airflow.apache.org/community/

Do you think the issue is somehow related to the way the Bitnami container is configured?

[2020-01-31 19:33] leobenkel commented on #17
no, I think it is related to my own airflow set up not allowing ECR to talk to the internet, the error I get is :

[code]

[2020-02-03 07:54] andresbono commented on #17
Yes, looking at the error message, it could be the reason.

Maybe you can try in a different host just for testing purposes.

[2020-02-03 20:36] leobenkel commented on #17
AWS support told me to try to forward port 443 since it is https connection. I havent had the time to try. I dont think it will work, but i'll try.

[2020-02-04 10:28] dani8art commented on #22
Hi @mirekphd

- Did you try  #12?

I would say that you are missing to remove the persistent volume so the password doesn't change, please try to execute `docker-compose down -v`. Before removing volumes, you have to make sure that you are doing a backup of your data, otherwise, you will lose it.

Regards.

[2020-02-04 10:56] mustela commented on #24
@juan131 sorry for my very late reply, but the problem is in the worker, the web image has been fixed, but Check this out:

docker run --rm -it bitnami/airflow-worker:1.10.7-debian-10-r0 bash
[code]

[2020-02-04 11:04] mustela commented on #24
Happens the same with `1.10.7-ol-7-r38`

[2020-02-05 08:24] juan131 commented on #24
Hi @mustela

It looks i fixed the issue on `bitnami/airflow` but forgot about `/bitnami/airflow-worker`. Sorry my fault

I'll apply the same fix and ping you once we released the new image.

[2020-02-05 10:14] juan131 commented on #24
Hi @mustela

I just released a new version `bitnami/airflow-worker:1.10.7-debian-10-r11`. Could you give it a try?

[2020-02-05 10:53] mustela commented on #24
@juan131, it's working beautiful! :)

Thanks a lot for your help! Will close this one ✔️

[2020-02-05 10:53] #24 closed

[2020-02-06 08:31] nixonraphy commented on #17
I'm facing a similar scenario , while using docker operator .

Strangely , when i invoke the workflow using the command-line option "airflow run ", individual tasks are getting triggered . However, when I use "airflow trigger-dag" option to invoke the same workflow , leads to "Permission denied" Errors .

Both commands are run using the same username on linux env and the user if part of the docker

[2020-02-06 09:03] juan131 commented on #24
I'm glad to heart that!
Thanks to you for reporting it!!

[2020-02-06 10:05] andresbono commented on #23
Great, @framled. Thanks to you for confirming it.

[2020-02-06 20:51] leobenkel commented on #17
it did not work haha

[2020-02-07 13:19] andresbono commented on #17
What about trying in a differnt host? Can you try in your local machine to see how it behaves?

[2020-02-07 17:44] leobenkel commented on #17
locally it works fine. no problem at all. with the same credentials that the airflow container has

[2020-02-10 14:39] andresbono commented on #17
Well, that's some progress! Maybe you should verify the port configuration in your ECR instance.

[2020-02-19 22:14] #25 closed

[2020-02-19 22:14] #26 closed

[2020-02-19 22:14] #27 closed

[2020-02-24 01:48] bappr opened #29 "Status of task is "RUNNING" but nothing happen."
**Description**

Hey guys,
I am using your airflow helm chart that I deployed on my kubernetes cluster.
Every component is deployed and running. I just deployed Redis (your helm chart) and Postgres (my helm chart) as external dependencies.

[code]

Accessing and login to the UI is fine. I enabled the "autoloadExamples" so that airflow is not empty and I can play with it.
However, when I trigger th

[2020-02-24 11:42] #22 closed

[2020-02-26 01:53] bappr commented on #29
Closing, gonna drop that in the chart repo

[2020-02-26 01:53] #29 closed

[2020-02-29 17:45] stevenwarejones opened #30 "Permission issues getting bitnami-docker-airflow working on IBM k8s"
I'm trying to get these Bitnami charts working on IBM Cloud k8s. I'm getting the following error on the redis-master pod
[code]

Eventually, of course, the liveness probe fails
`Liveness probe failed: 127.0.0.1:5432 - rejecting connections`

[2020-03-02 08:17] miguelaeh commented on #30
Hi @stevenwarejones ,
The `appendonly.aof` file should be into the `/data` directory, that directory is a volume and the Redis container is a non-root container. Did you set the `fsGroup` to `1001` to configure the permissions for that volume? It is done by default so if you didn't change it it should be correct.
Also, could you provide the exact command you are using to deploy the Chart?

[2020-03-03 02:13] #17 closed

[2020-03-08 12:52] alfonsodg commented on #14
Any update with this??

I can share something:
You can add plugins mounting also:
/opt/bitnami/airflow/plugins:MOUNT_POINT
If you use celery, the mount point needs to be in the worker and scheduler also and finally restarts the service to start using the plugins

[2020-03-08 14:17] alfonsodg opened #31 "Adding external modules for some plugins"
Hi,

Some plugins requires external modules, for example: clickhouse plugin needs clickhouse-driver, i can run inside the deployed container and install the library, however i wanna persist the module, right now i can mount the installed dir inside /opt/bitnami/python/lib/python3.6/site-packages as hardcoding trick but maybe can be a nicer way to do that

[2020-03-09 07:36] andresbono commented on #14
Hi @alfonsodg, we couldn't address the issue yet. If you give us more details on your specific issue, that will be useful for us.

[2020-03-10 08:07] miguelaeh commented on #31
Hi @alfonsodg ,
Could you let us know more about your use case so we can take a look?

[2020-03-10 10:39] alfonsodg commented on #31
Yes!

Airflow is very particular because it allows integration with any other service or databases, in many cases this requires installing new modules.
In our case we need the clickhouse-driver and my solution has been to install it inside the container, the problem is the persistence of the module and for this the only solution was to "assemble" the generated directories of site-packages, a solut

[2020-03-16 07:47] miguelaeh commented on #31
Hi @alfonsodg ,
Thank you very much for the explanation.
Are you deploying the application using docker-compose? I think you can mount a volume in whichever directory you need and that will make that data persistent. So, if I am not wrong you are trying to persist the `site-packages` directory,  can you give a try to mount a volume there?

[2020-03-18 08:14] beltran-rubo commented on #30
Hi @stevenwarejones we tested Airflow in IBM (latest version) and the application is working well. We also checked Redis master log and we can not reproduce the error you posted. Could you try the latest version again? Did you specify any options for the deployment?

[code]

[2020-04-05 11:06] #31 closed

[2020-04-06 15:21] jloehel commented on #31
Can anyone please re-open this issue. I don't like the idea of creating a volume for site-packages. It should be possible to add a `requirements.txt` as a volume to install all necessary modules. Like here:

https://github.com/puckel/docker-airflow/blob/bed777970caa3e555ef618d84be07404438c27e3/script/entrypoint.sh#L26-L29

[2020-04-07 09:10] #30 closed

[2020-04-07 09:27] miguelaeh commented on #31
Hi @jloehel ,
We would appreciate if you can open a new issue with the same information as a feature request.
Regards.

[2020-04-07 10:00] jloehel opened #32 "Adding external modules for some plugins"
Hello Bitnami Team,

I'd like to request a new feature for this docker image. Some plugins need additional python modules. I would like to avoid rebuilding the image for this case. I would prefer a mechanism to inject those modules into the image.

Matthieu Roisil uses for his airflow-docker setup a docker volume which holds a `requirements.txt` file.

Can you please implement something similar. T

[2020-04-07 10:00] jloehel commented on #31
Done: https://github.com/bitnami/bitnami-docker-airflow/issues/32

[2020-04-07 10:40] beltran-rubo commented on #32
Thanks @jloehel for the suggestion.  Ideally those plugins should be already added in the container image but that would require to maintain your own image.

Your proposed solution makes sense for us to simplify how to add plugins to the Airflow solution. We will add to our todo list and let you know when it is ready. Any Pull Requests will be also welcome if you want to speed up that process.

[2020-04-08 08:27] miguelaeh commented on #31
Thanks!

[2020-04-09 07:58] jayaprakash524 opened #34 "Adding custom python plugins in airflow"
I want to public a message in kafka topic in one of the task in Airflow DAG.  I got to know kafka-python package is not installed.
How to add this package in airflow image?

[2020-04-09 08:05] miguelaeh commented on #34
Hi @jayaprakash524 ,
You can install it using pip: https://pypi.org/project/kafka-python/
Did you try that?

[2020-04-12 16:46] danielc103 opened #35 "Vulnerabilities Tag 1.10.9"
**Description**

Has known critical and high vulnerabilities in latest build.

**Steps to reproduce the issue:**

Run image through scanning utility

**Describe the results you received:**

[code]

**Describe the results you expected:**

moderate to low vulnerabilities

[2020-04-13 06:43] beltran-rubo commented on #35
Hi @danielc103,

Thanks for reporting it. Those vulnerabilities are related to a Node.js-based tool we use to configure the Airflow application https://github.com/bitnami/nami Once the app is configured the tool is NOT running anymore.

Those CVEs are mainly related for web applications that use those dependencies and this is not the case. I would not consider important in this specific case. In a

[2020-04-13 09:05] rasikas opened #36 "DAG is in running state, but none of the tasks are started"
**Description**

**Steps to reproduce the issue:**

1. get the `docker-compose.yml` as instructed in the `readme`
2. run `docker-compose up`
3. access the web url http://host:8080`
4. enable and execute sample DAG ex: `tutorial` or `example_bash_operator`

**Describe the results you received:**

DAG tasks are queued but never runs. DAG is always at running state, but any of the tasks are not start

[2020-04-13 14:52] Mauraza commented on #36
Hi @rasikas,

airflow's an application to needs to much a lot of resources, you can see [this](https://github.com/bitnami/charts/issues/1978#issuecomment-600740315) to more information.

[2020-04-13 20:49] rasikas commented on #36
Thank you @Mauraza for the quick reply. Any place I can refer to find the minimum hardware requirements, I anyway spin a bigger VM and see. thanks again for your help

[2020-04-14 02:24] rasikas commented on #36
@Mauraza I used better configuration with 4cpu and 15GB ram and issue more or less same, please find the errors when I try to run provided sample DAGs, it is hard to think this is related to resources required.

[code]

**docker version**
[code]

**docker info**
[code]

**docker-compose version**
[code]

[2020-04-14 07:43] Mauraza commented on #36
Hi @rasikas,

I know it,  I feel the same when I was investigating.
You seem to have tried to throw the same DAG several times. Could you try throwing one and leave it for a while?.
Anyway, I'm going to do some more research.

[2020-04-14 08:02] rasikas commented on #36
@Mauraza i launched only two DAGs, both are very simple ones, those didn't even start. on the other hand if it cannot launch two simultaneously means we have a bigger problem. I think we are missing something here. It can't simply be resource issue at this stage.

Moreover this error
[code]

[2020-04-14 13:29] beltran-rubo commented on #36
I am confused, from the first screenshots you posted, the jobs ran properly, you can see the latest time executed. You can also trigger them manually from the dashboard. Why do you think the jobs have not been executed?

In your second message you posted an error with the database itself that we can not reproduce it. It looks an issue with duplication keys but from Celery seems that is not a bug j

[2020-04-14 14:09] danielc103 commented on #16
Having the same issue and wondering if this is the "official" answer?

[2020-04-14 14:16] rasikas commented on #36
@beltran-rubo Jobs are in 'running' state, not a single task inside a job ran, it was like this even after hours. light green color means 'running', dark green means success, if you look the screen shot i shared again you see than not a single task inside started.

![image](https://user-images.githubusercontent.com/1381205/79234896-41b4d200-7eae-11ea-9853-14ad47895419.png)

![image](https://user-i

[2020-04-14 14:54] beltran-rubo commented on #36
sorry for the confusion. The docker-compose.yaml in this repo do not include the workers right now, try the docker-compose from https://github.com/bitnami/bitnami-docker-airflow-worker

Sorry for the confusion, we will also add the workers in this repo as well.

[2020-04-14 21:20] rasikas commented on #36
@beltran-rubo thanks for the direction and the worker image works, and I now can see the dags are running, but unfortunately they fail and can see the following error in the worker logs

[code]

![image](https://user-images.githubusercontent.com/1381205/79275398-709c6980-7ee9-11ea-95b4-acc906e2728c.png)
Also 'View Log' option shows empty in the UI under each task

Thanks for the support I think I

[2020-04-15 09:03] beltran-rubo commented on #36
Sorry about that. It seems there is a mistmatch with the container versions in the docker-compose.yml file.

If you specify the image "image: bitnami/airflow-worker:1.10.9" it is working on our side. See jobs are executed successfully:
<img width="1256" alt="Screen Shot 2020-04-15 at 10 50 10" src="https://user-images.githubusercontent.com/3718440/79319214-52923180-7f08-11ea-8589-6077d4fb50df.png"

[2020-04-15 09:03] #36 closed

[2020-04-15 09:12] rasikas commented on #36
@beltran-rubo no worries, I will give another try later or when you have the yml updated. Thanks again for your support

[2020-04-15 11:01] mustela opened #37 "Upgrade to 1.10.10"
Hey guys, I see the worker has been updated to 1.10.10, is there any plan to do that with this image?

Thanks

[2020-04-15 11:08] beltran-rubo commented on #37
Hi @mustela we are finding issues in our automated testing with the new version. We are working on checking that everything works correctly before releasing it. Thanks for reporting it.

[2020-04-16 06:08] goal86sg opened #38 "Cant load a custom DAG into"
**Description**

Trying to load a custom dag to the default mount
**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

Trying to load a custom DAG file into airflow
**Describe the results you expected:**

xxx@xxx:~/Code/platformplatform/airflow$ docker exec -ti airflow_airflow_1 airflow list_dags
[2020-04-16 14:03:45,917] {_

[2020-04-16 09:08] #38 closed

[2020-04-16 09:09] goal86sg commented on #38
solved

[2020-04-16 10:40] dani8art commented on #38
Ok thanks!

[2020-04-16 11:10] beltran-rubo commented on #37
It has been released today. Keep us in the loop if you have any questions or suggestions, thanks!

[2020-04-16 11:10] #37 closed

[2020-04-16 16:25] beltran-rubo commented on #36
The docker-compose is now in the repo and the Airflow version has been updated to the latest 1.10.10 as well. Feel free to open a new ticket if you have any questions, thanks.

[2020-04-17 02:22] rasikas commented on #36
Thanks @beltran-rubo, May I know which project has the fixed apply?, is it [this repo - bitnami-docker-airflow](https://github.com/bitnami/bitnami-docker-airflow) or the [bitnami-docker-airflow-worker](https://github.com/bitnami/bitnami-docker-airflow-worker)

Which repo should I use (asking this because you asked me to use the bitnami-docker-airflow-worker) project instead of this repo. Thank you

[2020-04-17 06:29] beltran-rubo commented on #36
Both, now the worker is also included in the docker-compose.yml in the main "airflow" repo.

[2020-04-17 08:08] rasikas commented on #36
Great, thanks @beltran-rubo

[2020-04-20 08:52] andresbono commented on #16
Hi @danielc103, @kpa92 kindly shared a solution that worked for him, but we haven't received confirmation from other users. If you test it, please share with us if it works for you too.

[2020-04-20 12:46] danielc103 commented on #16
sorry, yes I was successful in installing the client using @kpa92 example.

[2020-04-21 07:51] andresbono commented on #16
Great, @danielc103, thanks for confirming!

[2020-04-23 04:13] saranyaeu2987 opened #39 "Unable to trigger a dag from minikube airflow"
**Description**

**Steps to reproduce the issue:**

1. helm install <name> bitnami/airflow \
   --set airflow.cloneDagFilesFromGit.enabled=true \
   --set airflow.cloneDagFilesFromGit.repository=<github_repo> \
   --set airflow.cloneDagFilesFromGit.branch=master \
   --set airflow.cloneDagFilesFromGit.interval=60
2. login airflow web UI
3. trigger dag

**Describe the results you received:**

-----

[2020-04-23 04:15] saranyaeu2987 commented on #39
[logs-from-airflow-web-in-selumalai-airflow-web-6b8b68f6cd-97qw7.txt](https://github.com/bitnami/bitnami-docker-airflow/files/4520187/logs-from-airflow-web-in-selumalai-airflow-web-6b8b68f6cd-97qw7.txt)

[2020-04-23 08:37] marcosbc commented on #32
I'm adding the on-hold label for now so this doesn't get closed until the change is merged.

[2020-04-23 14:23] Mauraza commented on #39
Hi @saranyaeu2987,

could you try adding the `--set airflow.baseUrl=http://127.0.0.1:8080`?
[code]

[2020-04-23 14:39] saranyaeu2987 commented on #39
Mauraza,
Thanks a lot. that worked!! :)
I have few more questions. Can you please guide me ?

1. What property should I use to expose the airflow config? I couldnt find in https://github.com/bitnami/charts/tree/master/bitnami/airflow#load-dag-files

2. Is there a command to trigger a job instead of doing it in Airflow webserver UI ?

3. Is it possible to load dags from GitLab instead of GitHUB ?

[2020-04-23 15:33] #32 closed

[2020-04-24 13:41] Mauraza commented on #39
Hi @saranyaeu2987

1.- Are you  using the [options 3](https://github.com/bitnami/charts/tree/master/bitnami/airflow#option-3-get-your-dag-files-from-a-git-repository)? this could help [documentation](https://docs.bitnami.com/tutorials/deploy-apache-airflow-kubernetes-helm/)

2.- you can trigger a job with the CLI, you can visit de [official documentation ](https://airflow.apache.org/docs/stable/cl

[2020-04-26 02:01] rasikas commented on #38
I didn't create new issue as my case is similar to this one.
1. First documentation says we can load the custom dags into `/opt/bitnami/airflow/dags` - however in the `airflow` I can see only `/opt/bitnami/airflow/data` folder is  having a link to `/bitnami/airflow`

[code]

so we can copy dags to `/data/` folder only. (then need to bash into the docker and copy it from `data` folder to `dags` fol

[2020-04-27 23:00] saranyaeu2987 commented on #39
1 - I am looking for this property. I wanted to expose config
AIRFLOW__WEBSERVER__EXPOSE_CONFIG

will it be **airflow.webserver.expose_config=true** ?

[2020-04-28 09:37] Mauraza commented on #39
Hi @saranyaeu2987,

you can find all the parameters of the char in the [README.md](https://github.com/bitnami/charts/tree/master/bitnami/airflow#parameters) I can't find `airflow.webserver.expose_config`

[2020-04-28 11:23] dani8art commented on #38
Hi @goal86sg, sorry but I cannot reproduce the issue, this is what I did.

1. Create a new volume with my dag:

[code]

2. Clean the persistent volumes and restart the deployment.

[code]

3. Trigger my dag

[code]

I've attached an example, please try it and let us know if you have any issue.

Thank you.

[airflow-G600772740.tar.gz](https://github.com/bitnami/bitnami-docker-airflow/files/4545333/

[2020-04-28 14:26] saranyaeu2987 commented on #39
Hi @Mauraza
I read the README.md.  I couldnt find property to expose the config via bitami airflow. thats why asked that question. Do you know what would be the property to expose the config in UI ?

[2020-04-29 08:29] Mauraza commented on #39
Hi @saranyaeu2987,

You need to use the` airflow.configurationConfigMap` to change that property because you need to edit the `airflow.cfg`.

[2020-04-30 05:39] #34 closed

[2020-05-03 10:02] #35 closed

[2020-05-08 12:41] ThomasUllrich666 opened #40 "Enable specific sslmode and portnumber in run.sh file"
If you are useing an external PG DB then please add a feature to use a custom Port and SSLmode.

Please change the command from this:

if PGPASSWORD=$AIRFLOW_DATABASE_PASSWORD psql -h "$AIRFLOW_DATABASE_HOST" -U "$AIRFLOW_DATABASE_USERNAME" -d "$AIRFLOW_DATABASE_NAME" -c "" > /dev/null ; then
...

to something like this:
if PGPASSWORD=$AIRFLOW_DATABASE_PASSWORD psql "host=$AIRFLOW_DATABASE_HOST db

[2020-05-08 13:17] BDubas commented on #17
Not sure if this is still relevant, but I'm having similar issue.
And it looks like the root cause comes from user permissions.
I can run docker from airflow container with "root" user, but "airflow" user fails with PermissionDenied.

root:
[code]

airflow:
[code]

[2020-05-08 13:26] BDubas commented on #17
Yeah, that was the case for me, changing permission to docker socket worked:
[code]

[2020-05-11 10:29] andresbono commented on #40
Hi @ThomasUllrich666, thanks for suggesting this change. Would you like to open a PR? Contributions are more than welcome!

[2020-05-11 10:33] andresbono commented on #17
Thanks @BDubas for providing this workaround. Users will benefit from it.

[2020-05-13 17:14] ze-correia opened #41 "Cannot view environment connections/variables in web server"
**Description**

I'm not sure if this is the place to ask, but maybe you can help me. I'm using this your Docker compose file and images to setup Airflow for local development.

I want to have default connections and variables, and I'm setting them up using environment variables as described [here](https://airflow.readthedocs.io/en/stable/howto/connection/index.html#storing-a-connection-in-environ

[2020-05-14 07:36] informatica92 opened #42 "Custom DAGs in running state but internal tasks don't start (queued)"
**Description**

Only example DAGs are executed properly. If I try to run a custom DAG instead, the DAG becomes "running" but no one of the tasks inside is queued.

**Steps to reproduce the issue:**
***my docker-compose.yml file:***
[code]
***my hello_world.py file in the .dags/ folder:***
[code]

1. run sudo docker-compose up -d
2. go to the http://<ip_address>:8080
3. trigger an example DAG and

[2020-05-14 09:09] dani8art commented on #41
- Regarding variables as far as I read in the [docs](https://airflow.readthedocs.io/en/stable/concepts.html#variables).

It says that you can store them in the environment vars and use it from the scripts, I guess you should add a script where you then `create` the environment var in to the UI.

- Regarding connection as far as I read in the [docs](https://airflow.readthedocs.io/en/stable/howto/co

[2020-05-14 11:38] ze-correia commented on #41
Thanks for the quick feedback!

So, if I understand correctly, I guess the best option to have some default variables and connections available in the UI on `up` would be to override the entrypoint and make sure to create them using the CLI, right?

[2020-05-14 14:38] informatica92 opened #43 "Logs to Google Cloud Storage: workers don't write but UI tries to read from Storage"
**Description**

Trying to set up aurflow in order to write logs to Google Cloud Storage instead of writing them on the local drive, I added the following lines to the docked-compose-yml file in the airflow, airflow-worker and airflow-scheduler section:
[code]
**Steps to reproduce the issue:**

1. set up docker-compose-yml file as shown above
2. restarted services
3. run a dag

**Describe the resu

[2020-05-15 07:26] dani8art commented on #41
I would say yes, At least it is what the doc says. Also, you could try to have a DAG doing this kind of thing and load it as [https://github.com/bitnami/bitnami-docker-airflow#load-dag-files](https://github.com/bitnami/bitnami-docker-airflow#load-dag-files). Then, execute it from the UI and see if the env vars and connections appear in the UI.

[2020-05-15 08:07] carrodher commented on #43
Hi, thanks for reporting this issue, I am going to try to reproduce it. In the meantime, can you check if the env. variables are properly propagated to the container? For that, you can execute
[code]
where `CONTIANER_ID` is the identifier of the container obtained with `docker ps`.

According to the [official documentation](https://airflow.readthedocs.io/en/stable/howto/set-config.html#setting-con

[2020-05-15 08:28] informatica92 commented on #43
Hi @carrodher, thanks for the quick reply.
[code]
As you can see from the snippet above, the env variables are correctly propagated (they are only missing in 'postgres' and 'redis')

About the apache-airflow[gcp] installation, I added a requirements.txt file and I mounted it in /bitnami/python/ adding this line to the yml file:
[code]
and inside this folder, the requirements.txt file contains:
`ap

[2020-05-15 08:33] informatica92 commented on #42
I found the solution for this issue:
You simply have to include `dags` and `plugins` folders for all the containers (not only `airflow`)

The yml file after this fix becomes:

[code]

Where obviously  `dags` and `plugins` folders are the folders located in the same location of the yml file where I store my dags and my plugins

[2020-05-15 08:33] #42 closed

[2020-05-15 10:26] juan131 commented on #42
Hi @informatica92

I'm glad you were able to solve this! I was trying to reproduce the issue at this very moment when you came up with the solution.

I just wanted to share with you that we just released a new revision of the `airflow-worker` (**1.10.10-debian-10-r38**) that fixes a miss-configuration with `nss_wrapper`. You shouldn't see the warning below anymore:

[code]

[2020-05-15 15:53] athenawisdoms opened #44 "How to avoid Repeating Enviromental Variables?"
**Description**

Setting enviromental variables requires a lot of repetition. Is it possible to reduce the repetition which can be error-prone?

**Describe the results you received:**

To set an environmental variable like `AIRFLOW_LOAD_EXAMPLES=no` or `AIRFLOW_EXECUTOR=LocalExecutor`, it must be repeated 3 times in total: for `airflow-scheduler`, `airflow-worker` and `airflow`.

**Describe the re

[2020-05-15 16:41] nyxynyx opened #45 "Permissions Error when Mounting Host Directories"
**Description**

Every docker container that mounts a host directory will have a permissions-related error.

**Steps to reproduce the issue:**

1. Create the following `docker-compose.yml` based on the example in README.md

[code]

2. `docker-compose up -d`

**Describe the results you received:**

1. Error in `redis`

[code]

2. *Error in `postgres`

[code]

3. Containers for `airflow`, `airflow-s

[2020-05-15 17:15] ze-correia commented on #41
Alright, thanks. I'll give that a try.

[2020-05-15 17:15] #41 closed

[2020-05-15 17:19] ze-correia commented on #44
My suggestion is to use a `.env` file, as described [here](https://docs.docker.com/compose/compose-file/#env_file).

[2020-05-15 18:00] vertangelx opened #46 "Set our own User UID?"
**Description**

How can we set our own user UID when running the docker-compose.yml on Ubuntu 20.04?

**Describe the results you expected:**

It will be ideal to be able to define the user UID instead of the default 1001.

https://github.com/bitnami/bitnami-docker-airflow/blob/master/1/debian-10/Dockerfile#L79

Maybe give us a way to rebuild the image with the UID that we like?

[code]

I need to

[2020-05-15 20:01] carrodher commented on #43
Not sure if this is going to fix the issue, but we just released a new version of the image (`1.10.10-debian-10-r30`) as we detected that we were installing `apache-airflow[gcp-api]` that seems to be an old method, being the new one `apache-airflow[gcp]`. Can you try using this new image? You can use the specific tag `1.10.10-debian-10-r30` or one of the rolling tags associated with this one like

[2020-05-18 06:24] juan131 commented on #44
Hi @athenawisdoms

I agree with @ze-correia, that can be a good alternative.

I know it's kind of repetitive to set the environment variable on every container that needs them, but there's very little we can do regarding this. Docker (and other container platforms) offer different alternatives to load the environment from a file/configmap, it's a matter to explore them and evaluate which one meet

[2020-05-18 08:58] informatica92 commented on #43
Hi @carrodher,
this morning I updated the images. (I deleted everything with a system prune before just to be sure)
[code]

And now it works! 🥳

![image](https://user-images.githubusercontent.com/17550961/82194041-7fb27500-98f6-11ea-8204-e6e651c084a7.png)

I think that I can close the issue now.
THANK YOU!

[2020-05-18 08:58] #43 closed

[2020-05-18 09:26] andresbono commented on #45
Hi @nyxynyx, the volumes in the host should have write permissions for the group. You can grant those permissions with the following command:

[code]

Maybe you will need to use sudo.

Can you try again after that?

[2020-05-18 09:33] informatica92 commented on #45
I have the same issue after updating to the latest images (in the last week I never had this issue).

@andresbono, where should I put/execute this command?

[2020-05-18 09:37] informatica92 commented on #45
I also found that connecting to the contaier using
[code]
the result is:
[code]

but before the update it worked returning a bash for the "root" user (and not this "I have no name!" user)

[2020-05-18 15:02] nyxynyx commented on #45
@andresbono Is it common practice to first create these folders on the host machine, then perform the `chmod`, then run `docker-compose up -d`?

Or is it supposed to be `docker-compose up -d` first to create the folders, then `docker-compose down`, then `chmod` commands, then `docker-compose up -d` again?

[2020-05-19 07:15] rafariossaa commented on #46
Hi,
  Maybe you try to set the user in the docker-compose
[code]
and then:
[code]
Could you give this a try?

[2020-05-19 08:25] andresbono commented on #45
Can you tell us the specific versions that you are running? The one that works for you and the one that doesn't.

[2020-05-19 08:27] andresbono commented on #45
Both options are equivalent, but maybe the second option is easier.

[2020-05-20 05:00] #39 closed

[2020-05-21 09:42] beltran-rubo commented on #35
We updated the Nami tool included in this container (since version 1.10.10-debian-10-r30), you should not get those CVEs in the report.

[2020-05-26 20:54] AETDDraper opened #47 "DAG not such file or directory"
**Description**
testing Dag

Details: Exception encountered during dag_id retrieval/dag retrieval fallback/code highlighting: [Errno 2] No such file or directory: '/opt/bitnami/airflow/dags/helloworld.py'

**Steps to reproduce the issue:**

1. uploaded using Kubectl cp to dags file showing but can't vew code.
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe th

[2020-05-27 06:50] juan131 commented on #47
Hi @AETDDraper

A user reported recently a similar issue (see https://github.com/bitnami/bitnami-docker-airflow/issues/42) and the problem that the custom DAGs were only added to the Airflow container, but they weren't uploaded to the worker and the scheduler containers.

Could you please try to copy (using `kubectl cp` or any other method) your custom DAGs to the worker and scheduler pods too?

C

[2020-05-27 07:31] AETDDraper commented on #47
Thanks Juan

Is it possible to set up github sync to a private repository?

On Wed, 27 May 2020 at 07:51, Juan Ariza Toledano <notifications@github.com>
wrote:

--
*David Draper*
Data and Technology Development Officer
E: ddraper@academiesenterprisetrust.org
M: 07551 671649
*“Things get done only if the data we gather can inform and inspire those
in a position to make a difference.”*

--

*Company

[2020-05-27 09:31] dwardu89 commented on #14
Hi @marcosbc  has there been any progress on this? I was trying to figure out why there is an `airflow-inputs.json` file which i think might be causing the env var overrides to be ignored.

[2020-05-28 07:05] juan131 commented on #47
Hi @AETDDraper

Do you mean cloning them using the chart as described in the link below?

- https://github.com/bitnami/charts/tree/master/bitnami/airflow#option-3-get-your-dag-files-from-a-git-repository

At this moment, we don't have a way to mount custom SSH keys on the Git container that's used to clone the repo. Therefore, it's not possible.

Please feel free to open an issue at https://github

[2020-05-28 09:35] marcosbc commented on #14
Hi @dwardu89, unfortunately we had not been able to spend any time on this yet. However, I've just re-evaluated this issue now and it looks like the container works properly.

After checking the AirFlow initialization logic, it looks like you have two ways of setting the configurations:

* Via the configuration file
* Via environment variables (AIRFLOW__...)

However, setting the environment varia

[2020-05-28 09:36] #14 closed

[2020-06-01 05:21] #40 closed

[2020-06-07 08:55] #44 closed

[2020-06-08 10:52] #46 closed

[2020-06-08 10:52] #45 closed

[2020-06-10 11:57] informatica92 opened #48 "How to customize images adding required packages"
I recently managed to edit the default `docker-compose.yml` file in order to use customized versions of the images that bitnami provides.
Since I had to do some modifications, I think that it would be a good idea to share the requred steps with you.
First of all you need to add these additional packages when the already existing ones are not enough or in general when you want to execute custom act

[2020-06-11 11:20] marcosbc commented on #48
Thanks for sharing! Like you mentioned, extending the Docker image will allow you to modify the existing image to do things such as modifying files or adding new ones, for instance.

In this specific case we would recommend you use `install_packages` instead of `apt-get`:

[code]

That function takes care of cleaning up afterwards, to reduce the resulting container image size.

Since it does not s

[2020-06-11 11:20] #48 closed

[2020-06-11 11:50] informatica92 commented on #48
Do you also suggest to keep the `RUN apt-get update` anyway?
And yes, it is not an issue but it could be useful to many people that are using this image

[2020-06-11 13:48] marcosbc commented on #48
The `install_packages` already takes care of executing `apt-get update` so it's not needed.

[2020-06-17 07:37] #47 closed

[2020-06-25 12:47] informatica92 opened #49 "How to add additional services to the containers"
Hello all,
I am trying to start an additional service on one of the container I have.
In particular I need to start the cloud sql proxy script file in order to connect to GCP cloud instances using a proxy.

First I added these lines into the Dockerfile:
[code]
Then I tryed different approaches to make it start on container startup:
 - I modified the run.sh adding the command I need but the contain

[2020-06-25 15:03] juan131 commented on #49
Hi @informatica92

Why do you want to run the proxy in the same container? This goes against the "one process, one container" principle that we should follow while designing cloud native applications.

Instead, I suggest using this proxy on a different container, and configure Airflow accordingly.

[2020-06-30 15:06] informatica92 commented on #49
Unfortunately, the cloud proxy needs to be on the same machine beause it creates a unix socket on a directory where all the connection with Cloud SQL are handled.
Another solution I thought about is to mount the corresponding folder on the container but the service is executed on the host machine

[2020-07-01 06:42] juan131 commented on #49
Hi @informatica92

Are you running this container on K8s? Please note that you can use a sidecar container that guarantees you can share any directory between containers. They containers will also share the same network. More information in the link below:

- https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/#how-pods-manage-multiple-containers

In case you're running the container o

[2020-07-02 08:30] informatica92 commented on #49
I solved the issue with the solution I mentioned in the previous message (mounting an host directory into the worker container).
First of all I set up the script and the directory inside the host machine as indicated here:
https://cloud.google.com/sql/docs/postgres/sql-proxy#unix_sockets

then, I added the following line for the worker service/container:
[code]

On the host machine is also quite e

[2020-07-02 08:30] #49 closed

[2020-07-15 13:47] veemvve opened #50 "Does "Apache Airflow Container Image" includes all resources related to Apache Airflow?"
Previously we were using "Apache Airflow Multi Tier" extension from Bitnami via Azure Marketplace which deploys all resources (Front-end, Scheduler, Worker, Database and Cache) related to Airflow using Azure VM.

Recently we noticed that the above extension is no more available in Azure Marketplace and replaced with "Apache Airflow Container Image" which leverages Docker Container technologies. We

[2020-07-15 13:55] veemvve opened #51 "Docker Compose: Error - HNS failed with error : The parameter is incorrect"
We are trying to execute this [docker-compose.yml](https://github.com/bitnami/bitnami-docker-airflow/blob/master/docker-compose.yml) file in Azure Subscription and ended up with below error,

[error]Creating network "airflow_default" with the default driver
[error]HNS failed with error : The parameter is incorrect.

We tried with multiple options like Azure CLI, Azure DevOps task (Docker Compose)

[2020-07-15 15:50] marcosbc commented on #51
Hi @veemvve, that looks like an issue unrelated to the Bitnami Docker images. Searching for the error on Google, I saw this: https://stackoverflow.com/questions/45394360/hns-failed-with-error-the-parameter-is-incorrect Could you try the suggestion?

To mount custom DAGs, just mount the directories/files to `/opt/bitnami/airflow/dags`. I.e. edit your `docker-compose.yml` file in the following way:

[2020-07-16 06:15] juan131 commented on #50
Hi @veemvve

As you can see taking a look to this [Docker Compose](https://github.com/bitnami/bitnami-docker-airflow/blob/master/docker-compose.yml), when working with containers we design them following a "micro-services" architecture. Therefore, there are different containers, each of them providing each of the components required for Apache Airflow. See:

- https://github.com/bitnami/bitnami-do

[2020-07-16 15:30] veemvve commented on #50
Thanks @juan131! Couple of follow-up questions,

I'm trying to run [Docker Compose](https://github.com/bitnami/bitnami-docker-airflow/blob/master/docker-compose.yml) in **Azure Subscription** but hitting a blocker. Tried with multiple options like Azure Cloud Shell, Docker Compose task in Azure Pipeline,

**Error:**
Azure Cloud Shell: _docker-compose not found_ I installed docker compose using pip

[2020-07-17 07:01] juan131 commented on #50
Hi @veemvve

Yes, the solution was renamed very recently.

Regarding how to run the Docker Compose in Azure, I highly recommend you to ask the Azure support team about the alternatives you may have to do so:

- https://azure.microsoft.com/en-us/support/options/#overview

[2020-07-17 09:44] dixonl90 opened #52 "Exception thrown running latest version of Airflow container"
**Description**

Running the latest version of the container leads to an exception being thrown after authentication to the web UI

**Steps to reproduce the issue:**

1. $ curl -LO https://raw.githubusercontent.com/bitnami/bitnami-docker-airflow/master/docker-compose.yml
2. $ docker-compose up
3. Navigate to http://127.0.0.1:8080
4. Login with the default username and password

**Describe the resu

[2020-07-20 10:43] javsalgar commented on #52
Hi,

I was able to reproduce the issue. We will work on publishing a fixed revision, I will update this ticket as soon as it is available. Thanks for reporting.

[2020-07-21 07:39] andresbono commented on #52
Hi @dixonl90, it seems this issue has been triggered by an incompatibility between the version of airflow webserver, scheduler and worker. Some containers are now using version `1.10.11` while the webserver is still using `1.10.10`. Could you please stick to `1.10.10` for all the components until we release the latest version of the webserver? You can do this by changing the container images tags:

[2020-07-22 10:32] andresbono commented on #52
Hi @dixonl90, bitnami/airflow `1.10.11-debian-10-r0` was released https://github.com/bitnami/bitnami-docker-airflow/commit/b085539e551fdf1283f81721c77add9aa18c46f8. The version of all the components are now in sync.

[2020-07-22 10:32] #52 closed

[2020-07-24 02:39] aditiagarwal30nov opened #53 "1001 user has no entry in /etc/passwd"
Getting
"I have No name!" error for user 1001
No entry in /etc/passwd.

![image](https://user-images.githubusercontent.com/2275445/88356309-f312b000-cd99-11ea-9f60-658b5d10586c.png)

[2020-07-24 06:46] juan131 commented on #53
Hi @aditiagarwal30nov

That's something expected. This container is compatible with arbitrary UIDs, which means you can run the container using any UID you want, e.g.:

[code]

This is very important to be compatible with some K8s platforms such as Openshift, since these platforms use random UIDs to deploy the containers by default.

Since we cannot assume the UID of the user that will be running

[2020-07-27 12:12] iptizer opened #54 "Container fails when "ldap.tls.enabled = false" as env variable AIRFLOW_LDAP_USE_TLS has no default value set"
**Description**

When setting *ldap.tls.enabled = false* in the corresponsing helm chart the airflow-web container fails.

**Steps to reproduce the issue:**

Use the bitnami helm chart with the following values:

[code]

The *bitnami-web* container fails with the following exception:

[code]

To reproduce, put the values from above in a txt file (name=airflow.yaml) and execute:

[code]

**Describe

[2020-07-27 16:51] theanthonylogan commented on #45
@nyxynyx Did this resolve your issue? I followed the steps of updating the write permissions with no success.

[2020-07-27 16:54] theanthonylogan commented on #45
@andresbono Do you have any more ideas? It seems to be the container path that is the issue not the host path.

[2020-07-28 07:37] juan131 commented on #54
Thanks so much for reporting the issue @iptizer

I just created a PR to fix it in the chart

[2020-07-28 07:58] #54 closed

[2020-07-28 10:35] andresbono commented on #45
Hi @theanthonylogan, can you give us more details about the specifics of your issue? Can you share the docker-compose that you are using? Do you have any error messages?

[2020-08-04 18:03] pablobmc commented on #17
chmod 777 /var/run/docker.sock doesn't  work for me,
deploy from scratch doesn't work either

[2020-08-05 06:56] carrodher commented on #17
Hi, in order to try to reproduce the issue on our side, can you provide more information about your specific use case?:

What image are you using? In a docker-compose? What are the changes/steps you are doing when the issue is faced? Thanks

[2020-08-05 15:28] pablobmc commented on #17
hi, i use a docker-compose file,
I solved my issue by setting a user for worker, scheduler and webserver  in my compose-file, but now i have another issue.
The scheduler and worker is not running when i deploy.
if i run "airflow worker" or "airflow scheduler" inside their containers then it works.

--------------
Pido perdón por mi inglés.
Si es que no se entiende, lo escribo también en español.

[2020-08-06 07:44] carrodher commented on #17
Hi, each container is running in the background the corresponding command; you can see what command is executing the image by taking a look at the `run.sh` file, for example in the case of the scheduler, you can find this file [here](https://github.com/bitnami/bitnami-docker-airflow-scheduler/blob/master/1/debian-10/rootfs/run.sh):
[code]

I just deployed the docker-compose and all the containers

[2020-08-06 13:59] pablobmc commented on #17
Hi, when i use `docker-compose up`  it works (i never tried).
but when i use `docker stack deploy` (which is how i tried) it doesn't work.
[code]
maybe you will need to change `networks:` flag into the compose-file
[code]
[code]

Scheduler container:

[code]

Scheduler Log:

[code]

Same for Worker Container

[2020-08-06 16:01] carrodher commented on #17
It seems something related to the networking yes, the error says that the scheduler is not able to connect to the main component. At this moment we support docker-compose, as it's the platform where we execute or tests, if you are using Docker swarm maybe you need to do some small modifications to the docker-compose.yaml in order to make it works out of the box

[2020-08-06 20:04] pablobmc commented on #17
well, i solved my problem with the ENV variable `AIRFLOW_WEBSERVER_HOST=webserver` cause in my compose-file i changed the name of the airflow service by webserver.
my problem now is that Airflow works in my computer but i get the permission error on my server

[2020-08-06 22:34] #50 closed

[2020-08-06 22:34] #51 closed

[2020-08-13 09:44] #53 closed

[2020-09-21 04:04] kk17 opened #55 "How to support MySQL Database"
I want to use this airflow docker image with the MySQL database. How can I configure it?

[2020-09-21 06:54] carrodher commented on #55
I am sorry but it is not something supported by the image, at this moment this Docker image only supports PostgreSQL as the database

[2020-09-22 05:56] #55 closed

[2020-10-10 01:44] instantrad opened #56 "Building current version gets stuck"
I just git cloned and run the build command and it has been stuck for hours
<img width="1439" alt="Screenshot 2020-10-10 at 1 43 13 AM" src="https://user-images.githubusercontent.com/66900828/95642777-2829c700-0a9a-11eb-86f4-f1690115614d.png">

[2020-10-10 01:46] instantrad commented on #56
<img width="724" alt="Screenshot 2020-10-10 at 1 46 32 AM" src="https://user-images.githubusercontent.com/66900828/95642806-717a1680-0a9a-11eb-8c0a-01a012ddacda.png">

[2020-10-10 01:51] #56 closed

[2020-10-26 18:19] levihernan opened #57 "On-failure email's URL to Log leads to 404"
When receiving a failure email:

Try 1 out of 1
Exception:
Bash command failed
Log: Link
Host: f6f8a1cba198
Log file: /opt/bitnami/airflow/logs/email_test/always_fail/2020-10-26T17:47:50.022899+00:00.log
Mark success: Link

The Link for entering the Log has this shape:
http://<SERVER>:<PORT>/admin/airflow/log?execution_date=<EXEC_DATE>&task_id=<TASK>&dag_id=<DAG>

This URL leads to a 404 page. Whi

[2020-10-27 07:52] rafariossaa commented on #57
Hi,
  Could you provide steps to reproduce the issue ? I would like to set a similar scenario.
  I guess that in the URLs provided you have removed the host and port, isn't it ?

[2020-10-27 12:03] levihernan commented on #57
Hello Rafael,
For sure I'll try.

I'm running a Bitnami Docker with the following docker-compose:

[code]

Then a DAG with the following code:
[code]

And when receiving the email, as tried to explain in the issue, it brings a link to the Log that sends me to a 404 page.
When checking on the URL that should bring me to the Log, I've detected that the URL has an extra **/admin/airflow** that if I r

[2020-10-28 08:57] rafariossaa commented on #57
Hi,
  I am not an airflow expert but as I can see [here](https://airflow.apache.org/docs/stable/howto/email-config.html), maybe you need to play with the template you are using for the `email`.
  Could it be ?

[2020-10-28 12:03] levihernan commented on #57
Hi Rafa,
Thanks for pointing me out in the right direction,
I've found that in the source code for airflow.models.taskinstance there is this condition that adds or excludes the **/admin/airflow** that was creating me this 404.

[code]

I'll close this issue!
Bests,
HL

[2020-10-28 12:03] #57 closed

[2020-10-30 16:10] armandleopold opened #58 "No module named 'elasticsearch'"
Hello,

I am unable to install elasticsearch dependencies to the bitnami image.
I want to use ES as a external logging endpoint with my Airflow on KubernetesExecutor Mode.
Is there something i am doing wrong with the venv ?

[code]
Thanks

[2020-11-02 09:42] FraPazGal commented on #58
Hello @armandleopold,

This image supports installing additional modules at installation time mounting a `requirements.txt` file, I think that would be easier than modifying the image. Please take a look at [this section](https://github.com/bitnami/bitnami-docker-airflow/blob/4f17ac2a6b6ff9fc594676fe2840c6086a9120a3/README.md#installing-additional-python-modules) of our README for more info.

If y

[2020-11-04 12:46] armandleopold commented on #58
It seems that the container start first with airflow and after that it installs dependencies.

It should be great if the dependencies were to be installed BEFORE instanciating airflow.

[code]

[2020-11-04 13:05] armandleopold commented on #58
Actually if i am overriding the CMD to sleep 3600 and executing a shell on the pod, then running ./run.sh,
it actually runs the dependencies installation. Then failes to other things.
For information i am using you Helm Chart bitnami/airflow

Stack Trace
[code]

[2020-11-05 12:18] FraPazGal commented on #58
Hi @armandleopold,

If your are using our bitnami/airflow chart, the easier way to install extra python modules is to mount the `requirement.txt` file as a volume as explained in our [README](https://github.com/bitnami/charts/tree/master/bitnami/airflow#install-extra-python-packages). That would install the modules on container start.

[2020-11-05 14:44] armandleopold commented on #58
Yes and that's exactly what i am doing.
I mount a configmap to the `/bitnami/python/` **PATH** with key : `requirements.txt`

Still it doesn'y work.

[2020-11-06 11:54] FraPazGal commented on #58
Hi @armandleopold,

Setting the parameters `extraVolumes` and `extraVolumeMounts` worked for me. Here is the install configuration I used:

Conf.yaml:
[code]
Values.yaml:
[code]

[code]

Were these the steps you followed? If not, could you please paste them here?

[2020-11-10 19:00] armandleopold commented on #58
I have done exactly what you have done for the Worker, but in my case for the Scheduler & the WebUI
## The Configmap :
![image](https://user-images.githubusercontent.com/7100281/98718054-35362080-238e-11eb-9a27-4b33ac5b50ba.png)

## The reference & mount :
![image](https://user-images.githubusercontent.com/7100281/98718104-4717c380-238e-11eb-9db2-8275ef97751b.png)

Still getting the error:

[code]

[2020-11-11 14:36] FraPazGal commented on #58
Hi @armandleopold,

Using the same configMap and adding the same values used in my example to `web/scheduler.extraVolumes` and `web/scheduler.extraVolumesMounts` in `values.yaml` file should install the modules. From your logs, your pod fails just after starting the initialising airflow, but the modules installation should occur at the latest steps. Are you changing anything besides the volumes-re

[2020-11-12 17:31] armandleopold commented on #58
In your exemple your are using the CeleryExecutor, but i am using the KubernetesExecutor

I have added some extraEnvVars :

[code]

[2020-11-16 05:59] claudexie opened #59 "AIRFLOW__XXX__XXX do not work as expected"
[code]

- Output of `docker-compose version` (if applicable): latest

[2020-11-16 12:16] FraPazGal commented on #58
Hi @armandleopold,

I see the issue now, some of the new env vars changes the airflow config related to `elasticsearch`, which is not yet installed when `airflow` is started. You are right, the solution would be to install those modules before airflow is initialized.

I'll work on fixing this and update this issue when is done, thank you for catching this!

[2020-11-16 17:31] marcosbc commented on #59
@claudexie Could you share more information?

If you are referring to the SMTP credentials not being overridden by the envvar, that is expected as the environment variables are runtime overrides, meaning they will be taken in preference over the values in the config file.

[2020-11-17 01:41] claudexie commented on #59
this issue somehow is gone！

[2020-11-17 01:45] claudexie commented on #59
i think it is because my container is started with somethings wrong

[2020-11-17 13:37] armandleopold commented on #58
Thank you very much ! =)

[2020-11-18 04:08] claudexie commented on #59
@marcosbc what kind of information  do you need？ thanks

[2020-11-18 16:32] marcosbc commented on #59
@claudexie Exactly, the proper value is stored in the env. var which affects AirFlow at runtime.

[2020-12-03 15:18] jpedrick opened #60 "Airflow LDAP authentication without TLS is broken. 'no' undefined"
**Description**
templates/web/deployment.yaml:
109:            - name: AIRFLOW_LDAP_USE_TLS
110:              value: {{ ternary "yes" "no" .Values.ldap.tls.enabled | quote }}

Should be "True", "False"
value: {{ ternary "True" "False" .Values.ldap.tls.enabled | quote }}

**Steps to reproduce the issue:**

1. Deploy airflow with ldap enabled
2. Fail due to 'yes', 'no' undefined in python.

**Descri

[2020-12-04 10:53] andresbono commented on #60
Thanks for raising this issue, @jpedrick. Would you like to open a PR addressing the change that you are proposing? Contributions are more than welcome!

[2020-12-04 17:30] FraPazGal commented on #58
Hello @armandleopold,

Sorry for the late response, this got misplaced internally.

The fix should be included in the next bitnami/airflow and airflow-worker container revisions to be released (will be out in the following 24h) and in the newest revision for [airflow-scheduler](https://github.com/bitnami/bitnami-docker-airflow-scheduler/commit/eb202f73d7c04307fe88ff9a0097cddaa6ff9cba). Please do n

[2020-12-08 09:06] armandleopold commented on #58
Hello, i have tested the

image:
  registry: docker.io
  repository:  bitnami/airflow

schedulerImage:
  registry: docker.io
  repository: bitnami/airflow-scheduler

Images.
And it work fine ! =)
Great job & thank you !

[2020-12-08 09:06] #58 closed

[2020-12-11 08:20] #59 closed

[2020-12-11 20:16] AlexDag opened #61 "Permissions Error when Mounting Host Directories"
**Description**
Making external mounting ( host directory) - shows the error of permissions

**Steps to reproduce the issue:**

1. [First Step]
edit original docker-compose.yml changing "volumes" as >
    volumes:
      - ./persist:/bitnami/postgresql
2. [Second Step]
save docker-compose.yml
run: sudo docker-compose up -d
3. [and so on...]

**Describe the results you received:**

docker logs 154e2

[2020-12-11 20:21] AlexDag commented on #61
I've tried working on /tmp>
version: '2'

services:
  postgresql:
    image: 'docker.io/bitnami/postgresql:10-debian-10'
    volumes:
      - /tmp:/bitnami/postgresql

- there is the same error for the permissions.

[2020-12-14 10:35] dani8art commented on #61
Hi @AlexDag,

Could you try the following?

[code]

[code]

[2020-12-14 14:32] AlexDag commented on #61
I've run docker with your instructions:
Here , it was created   /tmp/pg_volume
[code]
I have running apache flink with user "1001"

The result of run the bitnami airflow :
[airflow@vsmart-apl01 bitnami-docker-airflow]$ do logs e0ac0b803533
[code]
docker-compose.yml:
services:
  postgresql:
    image: 'docker.io/bitnami/postgresql:10-debian-10'
    volumes:
      - /tmp/pg_volume:/bitnami/postgresq

[2020-12-15 12:22] dani8art commented on #61
I've tried twice but it is working fine for me

[code]

Are you mapping running your `.` directory? Could `apache flink` be blocking the read/write permission over this directory?

[2020-12-15 13:35] AlexDag commented on #61
Could be "docker, docker-compose of the root count installation" - causes
these problems?
I use docker-compose by "sudo"

On Tue, Dec 15, 2020 at 9:22 AM Daniel Arteaga <notifications@github.com>
wrote:

[2020-12-15 14:35] AlexDag commented on #61
I put  the owner as "1001:1001" and the permission issues was out.
Another ERROR shows on:
[code]

[2020-12-16 07:03] dani8art commented on #61
Hi,

you will need to remove the rest of the volume so that you can start a fresh instance of airflow, could you try the following, please?

[code]

[2020-12-16 14:07] AlexDag commented on #61
ok,   after "$ docker-compose down -v"  : it run well  with persists on "custom host volume path".
One comment: I could not run it on /tmp/pg_volum as it is showing message>
`"ls: cannot open directory '/bitnami/postgresql/data': Permission denied"`
I created another host volume path,  /data/airflow,  and it is running well.
Thanks

[2020-12-16 14:07] #61 closed

[2020-12-16 14:28] dani8art commented on #61
Great!! happy to hear that worked, Thanks so much for your feedback!

[2020-12-22 19:32] VORUSRIK000 opened #62 "Apache Airflow: Issue with installing additional linux libraries and python packages post container creation thru bitnami helm charts"
We have installed Apache Airflow on AKS using bitnami helm chart. App is running fine. For enabling Azure SQL connectivity from a DAG (say to execute some queries as part of DAG), we are trying to create a custom sql hook using pyodbc library. This library is not installed by default on Airflow containers using default image. When trying to install using pip3 install command, getting below errors

[2020-12-23 11:32] FraPazGal commented on #62
Hello @VORUSRIK000,

If you are using our helm chart, you can install additional python modules mounting the file `requirements.txt` file as explained in our [README](https://github.com/bitnami/charts/tree/master/bitnami/airflow#install-extra-python-packages). An example of the necessary configuration would be something similar to:

Conf.yaml:
[code]
Values.yaml:
[code]

A slightly more complex so

[2020-12-25 14:43] #60 closed

[2020-12-29 18:05] VORUSRIK000 commented on #62
I have tried the above suggestion, and still getting the same error. Since we have this on startup now, the worker container is going into CrashLoop and not starting. Core issue here is the linux image bitnami is using, which is missing essential "gcc" library that is required for pyodbc installation.
QUESTION: Alternate option specified is to tweak the image. Can this be used to install the missi

[2021-01-04 10:20] armandleopold opened #63 "Upgrade for Airflow 2.0.0"
Is there plan to upgrade the chart to Airflow 2.0 ? Especially for the Kubernetes Executor/Operator  ?
Link : [Airflow 2.0.0](https://github.com/apache/airflow/releases/tag/2.0.0)

[2021-01-04 12:27] FraPazGal commented on #62
Oh, I misunderstood the issue. Yes the solution would be to install the necessary packages with `install_packages` and we need to run the container as `root`. This can indeed be done by customising our container and using the new image in the `docker-compose.yaml` file. There were a few packages needed for `pyodbc`, please give this `Dockerfile` a try and do not doubt to ask if there is anything y

[2021-01-04 12:48] beltran-rubo commented on #63
thanks @armandleopold! We just started working on it. As it is a major version it could take some time to be released, we will keep you in the loop.

[2021-01-04 19:45] VORUSRIK000 commented on #63
We are looking for the same, especially to get the updated Azure Integrations (AzureSQL thru ODBC, KeyVault). Would like to get tagged (if anything like that) when the version is released.

[2021-01-04 19:53] VORUSRIK000 commented on #62
Thank you for the inputs. Considering we are using bitnami helm charts to enable this on AKS, and not the docker images directly, wonder how we can enable this thru the helm scripts. I tried looking at the configs/custom templates in helm github, but couldn't find a way to update the image details.
I actually tried installing gcc manually on the container, once it was created by helm. Was getting

[2021-01-05 09:08] FraPazGal commented on #62
Hi @VORUSRIK000,

If you are using our chart, you can replace the container image used in it using the image related parameters on `values.yaml`. You just need to push your custom image to your repository in any image registry and change the values of `xxxx.image.registry/repository/tag` to have the chart pull it:

[code]

Would that work for you?

[2021-01-06 18:20] armandleopold commented on #63
Alright Good luck, really looking forward to use it at our Institut Curie's Data Factory ;-)

[2021-01-08 09:09] carrodher commented on #63
Thanks for the interest, we are actively working on it. As it is a major version there are some manual steps required on our side to adapt our internal test & release pipeline, when everything is ready a new folder will appear in this repository and new tags (`2`, `2-debian-10`, `2.0.0`, etc) will be pushed to the different registries. We will update this thread once released.

[2021-01-14 09:27] tluzon-digibank opened #64 "Python 3.7 or higher"
Is there going to be an upgrade of Python for this image?

[2021-01-14 13:28] carrodher commented on #64
Thanks for the suggestion, are you looking for a specific missing feature, extension, or functionality? We would like to understand if there is a reason behind the suggestion in order to prioritize the internal task if needed

[2021-01-14 14:08] tluzon-digibank commented on #64
Well, our AI team here are developing and using libraries that require Python 3.7 or later and are blocked by the fact that this image runs Python 3.6.
Nevertheless, this Python version is becoming quite old.

Thank you very much for your time and effort.

[2021-01-14 19:54] carrodher commented on #64
At this moment we are working on the release of the new major version (2.0), I just forwarded your suggestion to the team working on it. They will test a new python version with the new Airflow version, if everything works fine I can't see any cons on bumping the bundled python version to a more recent one.

[2021-01-15 07:42] tluzon-digibank commented on #64
Airflow 2.0 is also something we look forward to, so that's great news.

Thank you for your time and effort.

[2021-01-15 21:04] tom-vianai commented on #64
we have encountered several cases we had to use separate back ported versions of packages because 3.6 bundled in container can't run the 3.8 version our engineers are using in their notebooks.  Or had to modify code to be 3.6 compliant.
 This introduces a risk for behavior differences or potential bugs.  I would very much support updating the images to 3.8 as soon as possible.

[2021-01-18 15:06] carrodher commented on #64
I just added the on-hold label to prevent stale-bot to close the issue while we're working on it

[2021-01-19 07:34] iercan commented on #63
@carrodher I saw 2.0.0 is released but when I install it I'm not able to use UI. It looks like this and butttons not work.
![image](https://user-images.githubusercontent.com/3406152/105002126-dbaf3980-5a41-11eb-92ff-cd2eca508f83.png)

[2021-01-19 11:41] andresbono commented on #63
Hi @iercan, thanks for reporting the issue.

- How are you installing Airflow 2.0.0?
- What is the URL that you are accessing to?
- Can you open your web browser console and see if there are any errors?

[2021-01-19 11:46] WqyJh opened #65 "airflow 2 cannot provide some static files"
`docker.io/bitnami/airflow:2-debian-10` do not provide some static files. As is shown in the picture, the url of some css files are `/static/` which is wrong. However, `docker.io/bitnami/airflow:1-debian-10` works fine.

![image](https://user-images.githubusercontent.com/15232241/105028919-a1b75500-5a8c-11eb-91f5-c36adec5e8d2.png)

There're only some static files are supported as shown in the foll

[2021-01-19 11:53] iercan commented on #63
I used below docker compose file which is same one I use with version 1.10.14.
I tried both upgrade and clean install, result is same.
[code]

I'm connecting as http://localhost:8080
I check browser console. Looks like api can not reach /static url
![image](https://user-images.githubusercontent.com/3406152/105031090-d82da980-5a65-11eb-90ae-82468fe1cc4c.png)

[2021-01-19 12:03] iercan commented on #63
Just see someone else opened same issue. #65

[2021-01-19 13:03] andresbono commented on #63
Thank you, @iercan. We could reproduce the issue and we are currently working on a fix.

[2021-01-19 13:04] andresbono commented on #65
Thank you, @WqyJh. We could reproduce the issue and we are currently working on a fix. We will update this issue as soon as a new release of the container is available.

[2021-01-20 06:24] VORUSRIK000 commented on #62
Apologize for not getting back earlier. We are able to get pyodbc installed using docker file. But along with the build libraries (gcc) and pyodbc package, we also had to install mssqlodb17 driver. Giving my docker below for ref. Thanks for the guidance. Will close this issue.

FROM docker.io/bitnami/airflow-scheduler:1-debian-10

USER root

RUN install_packages build-essential gcc unixodbc-dev
RU

[2021-01-20 06:24] #62 closed

[2021-01-20 12:20] abhiramkolli commented on #63
I hastily jumped into Airflow 2.0 and realized, the UI doesn't work. Any workaround for this?

[2021-01-20 13:18] andresbono commented on #63
Hi @abhiramkolli, this is the reference for that specific issue: #65. We are working on a fix for it.

[2021-01-20 13:47] abhiramkolli commented on #63
Yes, sure, we will wait for the fix.

[2021-01-25 09:40] WqyJh commented on #65
The image of  `bitnami/airflow:1-debian-10` was also encountered with the same problem, probably because of the latest update of the image.

![image](https://user-images.githubusercontent.com/15232241/105687079-ffd3b480-5f32-11eb-9cd9-a7a9381c1f27.png)

My service works fine until I restart it today when k8s pulled the latest image.

![image](https://user-images.githubusercontent.com/15232241/1056

[2021-01-25 16:13] andresbono commented on #63
Hi @iercan, @abhiramkolli, could you please pull the latest version of the image and let us know if the issue with the UI is fixed? Thanks!

[2021-01-25 16:14] andresbono commented on #65
Hi @WqyJh, this is very strange, we haven't modified the configuration for Airflow 1. Is it the latest version of Airflow 2 working as expected now?

[2021-01-26 04:56] abhiramkolli commented on #63
@andresbono I can see it is working again. Thank you very much!!! I will post if I see any issues.

[2021-01-26 11:53] andresbono commented on #63
:tada: Thanks for confirming it!

[2021-01-26 11:53] #63 closed

[2021-01-26 12:40] WqyJh commented on #65
Yes, it is! Thank you for your works!

[2021-01-26 15:40] carrodher commented on #64
The latest image revision (`2.0.0-debian-10-r4`) contains python 3.8, see https://github.com/bitnami/bitnami-docker-airflow/commit/d11d2cf6e7525a1dafd57f1af4560d8e9d2ae1ee.

You can see the changes in the above image immutable tag (`-r4`) or any of the associated rolling tags that like `latest`, `2`, `2-debian-10`, `2.0.0`, etc)

[code]

I am closing this issue, feel free to reopen it if something

[2021-01-26 15:40] #64 closed

[2021-01-26 15:42] tluzon-digibank commented on #64
Much appreciated!

[2021-01-26 15:43] carrodher commented on #65
I am closing this issue since it should be solved in the latest revision of the image. We also improved our testing logic in order to be able to detect similar issues (if any) in the future before releasing the images. Thanks for reporting the issue; feel free to reopen it if something is not working as expected.

[2021-01-26 15:43] #65 closed

[2021-01-28 17:01] tom-vianai commented on #65
The 1.x images were updated to use python 3.8 but seems "FROM bitnami/airflow:1.10.14" is pulling airflow 2 I think and it does not load the static webserver content.

[2021-01-29 15:16] carrodher commented on #65
What do you mean by "bitnami/airflow:1.10.14 is pulling airflow 2"? The bitnami/airflow:1 and bitnami/airflow:2 are different images; and also its associated rolling tags. You can check that all the rolling tags for the version 1.X are using the same `IMAGE ID`, something similar happens with version 2.X and the `latest` tag:
[code]

In the same way, I just deployed the `docker.io/bitnami/airflow:

[2021-01-29 15:23] tom-vianai commented on #65
I think I understand, but somehow I was pulling bitnami/airflow:1.10.14 and ended up with the airflow 2 UI that just showed the spinning icon for "recent tasks" and "last run" columns....  I have since gone to the 1.10.14-debian-10-r34 image and it seems things may have been fixed as there were check-ins between my 1.10.14 pulls and 1.10.14-debian-10-r34...  I'm trying to clean my image repo and r

[2021-01-29 15:27] carrodher commented on #65
It's really weird, you can run `docker image | grep airflow` and check the ids

[2021-01-29 20:32] tom-vianai commented on #65
![image](https://user-images.githubusercontent.com/71041093/106315899-e6d04980-6239-11eb-9cc0-b8f17e255d62.png)
This is the new UI from what I can tell, it just sits and spins from what I can research airflow 2.0 builds out a static UI but that is missing.  According to comment above this was fixed in 2.0 images

![image](https://user-images.githubusercontent.com/71041093/106318075-4aa84180-623d-1

[2021-01-29 21:08] tom-vianai commented on #65
I have the same "missing" or incomplete GET "/static/" that is discussed above.  I'm trying to roll back to 1.10.14-debian-10-r1 and see if I get same issues

[2021-02-01 16:38] carrodher commented on #65
I am not fully understanding the issue, airflow 1 and 2 are following different release processes so it shouldn't be possible to mix tags from airflow 1 and 2, in fact, I double-checked that and each branch is pointing to different images.

Apart from that, during the Airflow 2 releases, we also worked on some improvements (like a new Python version) for both branches, so it is normal the new vers

[2021-02-01 18:05] StephanZaat commented on #65
Actually I'm seeing something similar, although I don't know if it is related to Airflow 2. I'm using the Bitnami Helm chart and needed to upgrade to Python 3.8:

![image](https://user-images.githubusercontent.com/15195218/106498539-d61c0f80-6495-11eb-8eb3-21aa64c5fc09.png)

After startup:
`│ airflow-web INFO  ==> Starting airflow...

[2021-02-02 12:44] javsalgar commented on #65
Hi,

I tried deploying the latest version of the airflow chart and found no issues with the static, as you can see here, it is properly returning the static files

[code]

It is using this image: docker.io/bitnami/airflow:2.0.0-debian-10-r8. Could you confirm that you are using the same?

[2021-02-02 12:58] StephanZaat commented on #65
I realise that we have hijacked an issue about Airflow 2.0, but we seem to have this issue with V1 of Airflow:
I'm using this version: 1.10.14-debian-10-r37

[2021-02-03 08:08] carrodher commented on #65
Sorry for the misunderstanding, finally, I was able to reproduce the issue using docker-compose and the 1.X version:

**Airflow 1.X**:
[code]

![Screenshot 2021-02-03 at 08 57 47](https://user-images.githubusercontent.com/13216600/106716643-f9ae9980-65fe-11eb-90c2-953d69574255.png)

**Airflow 2.X**:
[code]
![Screenshot 2021-02-03 at 09 00 32](https://user-images.githubusercontent.com/13216600/1067

[2021-02-03 10:17] WqyJh opened #66 "LDAP not work as expected"
**Description**

I use [docker-compose-ldap.yaml](https://github.com/bitnami/bitnami-docker-airflow/blob/master/docker-compose-ldap.yml) to test LDAP support.

As the following config shows, there're two accounts `customuser/custompassword` and `user2/password2`. I could login with the former but couldn't login with the latter one. This is because the flask-appbuilder need to set `AUTH_USER_REGIST

[2021-02-04 08:28] javsalgar commented on #65
Hi,

Just a quick note to let you know that `-r41` of the Airflow 1 container should have the issue fixed. Could you please check?

[2021-02-04 09:19] carrodher commented on #66
Thanks for creating this issue, we are going to take a look and we'll be back with more information/questions throughout the day

[2021-02-04 12:12] carrodher commented on #66
Currently, when LDAP is enabled (via `AIRFLOW_LDAP_ENABLE=yes`) the following changes are implemented in the _/opt/bitnami/airflow/webserver_config.py_ file:
[code]

Apart from that, this file should also contain `AUTH_USER_REGISTRATION=Ture` right? Apart from that, what is not clear for me is the purpose of `AUTH_USER_REGISTRATION_ROLE` and what is the expected value

[2021-02-04 16:07] StephanZaat commented on #65
Yes! It is fixed. Thank you!

[2021-02-04 17:21] pranab-ymc opened #67 "Airflow admin UI stuck with busy spinner"
**Description**
Using the latest Bitnami Airflow image (1.10.14-debian-10-r40) the Airflow admin UI is stuck withe busy spinner. I cannot execute any DAGs.

**Steps to reproduce the issue:**
Start the Airflow Docker container along with worker, scheduler, Redis and Postgres.
Goto localhost:8080/home

**Describe the results you received:**
The UI is continually spinning busy. Chrome console shows t

[2021-02-04 17:29] pranab-ymc commented on #67
Thank you. This issue has been resolved with the 1.10.14-debian-10-r41 image. Appreciate the quick turn around in fixing it.

[2021-02-04 17:29] #67 closed

[2021-02-05 07:52] WqyJh commented on #66
`AUTH_USER_REGISTRATION=True` means that an user record would be created in the database the first time the user login with LDAP.

`AUTH_USER_REGISTRATION_ROLE='Admin'` means that the user created would be granted a role of `Admin`.

 This two variables should be available for user to config.

There are many other variables [here](https://flask-appbuilder.readthedocs.io/en/latest/security.html#aut

[2021-02-05 09:51] carrodher commented on #66
Thanks for the info. We will add a new env. variable `AIRFLOW_USER_REGISTRATION_ROLE` set as `Public` by default so users can customize it and set it to `Admin` when needed, this `AIRFLOW_USER_REGISTRATION_ROLE` matches with `AUTH_USER_REGISTRATION_ROLE` in the config file.

In the same way, `AUTH_USER_REGISTRATION=True` will be set by default in the config file always than LDAP is enabled. You sh

[2021-02-05 17:11] levihernan opened #68 "Papermill is not working with latest versions > 2.2.2"
requirements.txt
[code]
Is failing when creating an output notebook.

[code]

Quick fix:
[code]

[2021-02-08 09:32] juan131 commented on #68
Hi @levihernan

Thanks for reporting the issue.

Could you please (step by step) what I need to do to reproduce the bug on my side? Thanks in advance.

[2021-02-08 12:58] carrodher commented on #66
Hi, the above-mentioned approach (`AUTH_USER_REGISTRATION=True` when LDAP is enabled and `AUTH_USER_REGISTRATION_ROLE` set via `AIRFLOW_USER_REGISTRATION_ROLE` with "Public" as default value) should be included in the last revision of the image, see https://github.com/bitnami/bitnami-docker-airflow/commit/4c4b9ca5d1b63c02d69f3567314e59c2ca492816 for Airflow 1.X and https://github.com/bitnami/bitna

[2021-02-08 12:58] #66 closed

[2021-02-10 18:22] danielccruz opened #69 "LDAP External Server"
**Description**

I was trying to integrate your docker-compose with my own LDAP server but I couldn't get it working. I did a few tests with the LDAP_URI and I could see a "Resource Unavailable" when I passed the wrong URI.  When the correct URI is passed I get the error below. It seems to me that it is something to do with a TLS configuration.

The relevant configurations are the ones below.
[cod

[2021-02-11 15:09] alemorcuq commented on #69
Yes, it should work with an external LDAP server. Our container is nothing special in that sense.

As you said, it looks like the issue is related to TLS. I will try to reproduce it.

[2021-02-11 15:13] danielccruz commented on #69
Thank you, if you need more info let me know.

[2021-02-12 09:20] carrodher commented on #69
Some days ago I closed an issue where LDAP was not working as expected in relation to the login, see https://github.com/bitnami/bitnami-docker-airflow/issues/66. As a result of this issue, some new parameters and env. variables were added to the container, see 4c4b9ca for Airflow 1.X and ef00291 for Airflow 2.X. Just in case it is related, did you try using the latest images?

[2021-02-12 14:44] danielccruz commented on #69
Hi,

I redeployed the containers as you asked. The error disappeared but still, I can't log in with ldaps. The only info that i get when i try to log in is:

`airflow_1            | 172.25.0.1 - - [12/Feb/2021:14:40:25 +0000] "POST /login/ HTTP/1.1" 302 221 "https://HOST/login/" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) ..."
airflow_1            | 172.25.0.1 - - [12/F

[2021-02-17 09:25] alemorcuq commented on #69
Those warnings are not related to your login issue.

Do you see anything in your LDAP server logs that could help identify the issue?

[2021-02-17 22:54] danielccruz commented on #69
I didn't found anything relevant on the LDAP server logs. I'm doing a few more tests, could you make your search string used to query the connection from python-LDAP available, so I can try it from my environment?

[2021-02-23 14:07] danielccruz commented on #69
Sorry for the delay.

No, I didn't find anything relevant on the LDAP server logs. Also, I could connect to the LDAP server from a python shell inside the container.

[2021-02-26 15:30] alemorcuq commented on #69
Just wanted to let you know that I'm still investigating this.

[2021-02-28 20:13] aerasoft opened #70 "OSError [Errno 5] Input/output error: '/opt/bitnami/airflow/logs/process_dag_v20/process_task_0/2021-02-28T19:59:25.616588+00:00'"
![Screen Shot 2021-02-28 at 8 11 55 PM](https://user-images.githubusercontent.com/24838294/109432060-5421f680-7a01-11eb-8e1b-3bcb64cd0b95.png)

Any help?

[2021-03-02 08:24] shark-988 commented on #69
Hi Guys, we solved using this configuration, both in the webserver and in the scheduler (inside the docker-compose.yml):
      - AIRFLOW_LDAP_ENABLE=yes
      - AIRFLOW_LDAP_USE_TLS=False
      - AIRFLOW_LDAP_URI=ldap://<server url>:389
      - AIRFLOW_LDAP_SEARCH=DC=<...>,DC=<...>
      - AIRFLOW_LDAP_BIND_USER=<ldap login user>
      - AIRFLOW_LDAP_BIND_PASSWORD=<...>
      - AIRFLOW_LDAP_UID_FI

[2021-03-02 09:10] alemorcuq commented on #69
Thanks for the input, @shark-988. However, this issue seems to be related to TLS, which apparently you are not using.

[2021-03-02 09:27] Mauraza commented on #70
Hi @aerasoft,

when you get this error? could you add more information about this?

[2021-03-02 17:41] danielccruz commented on #69
Hi,

I bring some good/bad news. I'm gonna explain my deployment so you can have a better understanding of what's happening.
My machine has an HAProxy that handles the SSL part of the deployment. That said HAProxy redirects the requests to the airflow web server, listening on 8080.

I was trying some configs and found out that the AIRFLOW_LDAP_USE_TLS should be False in my deployment. The ldaps on

[2021-03-02 19:45] danielccruz commented on #69
I did a bit more testing and, the problem isn't on haproxy. I disabled it, and use the webserver without SSL, and got the same problem when I use ldaps.

[2021-03-03 07:57] shark-988 commented on #69
I noticed that the problem is the airflow login, because, on the db, the login user row is created but with a "public" role and not being able to do anything, so it goes continuously in retry.
I added:
- AIRFLOW_USER_REGISTRATION_ROLE = Viewer
in airflow_webserver environments and the problem is solved.
I hope I have been helpful

[2021-03-03 11:43] danielccruz commented on #69
Hi,
@shark-988, that did solve the problem. Thank you for your insight.

[2021-03-03 11:43] #69 closed

[2021-03-03 14:18] alemorcuq commented on #69
Thank you so much for your help, @shark-988 !

[2021-03-03 16:06] shark-988 commented on #69
yw ;)

[2021-03-08 04:19] kimyong95 opened #71 "auth"
**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version**

- Output of `docker version`:

[code]

- Output of `docker info`:

[code]

- Output of `docker-compose version` (if

[2021-03-08 04:19] #71 closed

[2021-03-09 04:40] FabianDS2 opened #72 "Pyodbc install erroring"
I am relatively new to Airflow, Docker, and Bitnami but I am having trouble getting pyodbc to be installed on the bitnami airflow containers. I want to be able to use Airflow on Azure for work projects so that's how I found out about the bitnami-docker-airflow project.

I have followed the directions from this page: https://github.com/bitnami/bitnami-docker-airflow/blob/master/README.md

I started

[2021-03-09 16:45] gaussianoLe opened #73 "Error executing 'postInstallation': INFO [alembic.runtime.migration] Context impl SQLiteImpl."
**Description**

Hi all,
I'm using "bitnami-docker-airflow/2/debian-10/docker-compose.yml" to run airflow2 containers
but, after "docker-compose up" I have this kind of issue:

[code]

Tried to do "docker system prune -a" to start from scratch but no luck.
Any suggestions?

**Version**

- Output of `docker version`:

[code]

- Output of `docker info`:

[code]

- Output of `docker-compose version`

[2021-03-10 08:54] Mauraza commented on #73
Hi @gaussianoLe,

I have not been able to reproduce the problem. Is this the docker-compose are you using https://github.com/bitnami/bitnami-docker-airflow/blob/master/2/debian-10/docker-compose.yml? Or have you made any modifications to the docker-compose.yml?
Could you try this again?
[code]

[2021-03-10 13:17] FabianDS2 commented on #72
Thank you @rafariossaa for the explanation. I am relatively new to Docker so is there a location in the Dockerfile/docker.compose.yaml that I should look at or do more research where I could add that dependency? For future planning, as I want to use the bitnami image for production workflow in Azure, is there a way to add that dependency on the Azure image? Maybe once it's set-up and deployed? Loo

[2021-03-11 05:53] arkachat opened #74 "postgre ERROR [canConnect] Connection with 'bn_airflow' user is unsuccessful"
postgre INFO  Found PostgreSQL server listening at airflow-postgresql:5432
postgre ERROR [canConnect] Connection with 'bn_airflow' user is unsuccessful
postgre ERROR [canConnect] Connection with 'bn_airflow' user is unsuccessful
postgre ERROR [canConnect] Connection with 'bn_airflow' user is unsuccessful
postgre ERROR [canConnect] Connection with 'bn_airflow' user is unsuccessful
postgre ERROR [ca

[2021-03-11 06:04] arkachat commented on #74
This is a fresh install with no non-standard values

[2021-03-11 08:01] juan131 commented on #74
Hi @arkachat

Did you previously install other chart releases using the same name in your cluster? It's likely that PostgreSQL is reusing previous PVCs and, therefore, the credentials don't match the data.

Take a look to the Troubleshooting guide below to obtain more information:

- https://docs.bitnami.com/general/how-to/troubleshoot-helm-chart-issues/#persistence-volumes-pvs-retained-from-previ

[2021-03-11 09:01] gaussianoLe commented on #73
Hi Mauraza, thanks for answering.
I did it. Pasting logs:
Attaching to tmp_postgresql_1, tmp_airflow_1, tmp_redis_1, tmp_airflow-worker_1, tmp_airflow-scheduler_1
[code]

[2021-03-11 11:41] Mauraza commented on #73
Hi @gaussianoLe,

In your logs appear:
[code]
Could you do the steps that the warning says?

[2021-03-11 12:43] gaussianoLe commented on #73
Hi @Mauraza ,
thanks again. I did both stuff as you and log suggested to do but no luck.
There is always the warning ragarding THP.

[code]

BTW I want to use LocalExecutor instead of Celery one. So I can use postgres, airflow-scheduler and airflow containers only.
If I comment redis and worker part in docker-compose.yml  I have the same error when airflow tries to start:

[code]

[2021-03-11 14:55] arkachat commented on #74
Thanks for the Pointer @juan131 ,
I am wondering if there is a way to let the pvc for postgresql go automatically when airflow is deleted from helm.

[2021-03-11 16:58] rafariossaa commented on #72
Hi,
  You can add `build-essential` to the list of packages [here](https://github.com/bitnami/bitnami-docker-airflow/blob/606f94f78377910bb8eaecd7de7cfeab0200c8d6/2/debian-10/Dockerfile#L11), and build your own image.
  I am not very sure about your Azure question. Once you have you own image, push it to a repository (eg. docker hub) and you will be able to use from wherever you need.

[2021-03-12 08:03] Mauraza commented on #73
Hi @gaussianoLe,

Could you add the variable `BITNAMI_DEBUG=true` and copy the output of the logs?
[code]

[2021-03-12 08:28] juan131 commented on #74
I'm afraid there's not @arkachat
I opened an issue at the Helm repo long time ago but it wasn't addressed yet. See https://github.com/helm/helm/issues/5156

[2021-03-12 08:36] gaussianoLe commented on #73
Hi @Mauraza,
thanks. This is the log:

[code]

Kind regards

[2021-03-15 12:11] Mauraza commented on #73
Hi @gaussianoLe,

Do you have `ImportSshPublicKeyReponse` installed and in the path?

[2021-03-15 14:27] gaussianoLe commented on #73
Hi @Mauraza,
Do you mean in the host machine or as requirement for airflow container?

[2021-03-16 11:05] Mauraza commented on #73
Hi @gaussianoLe,

sorry, to get more information in the logs the variable is `NAMI_LOG_LEVEL=trace`.
Could you add this variable to the docker-compose.yaml and copy the logs?

[code]

[2021-03-16 11:23] gaussianoLe commented on #73
Hi @Mauraza ,
thanks again. This is the log:
[code]

[2021-03-17 09:58] Mauraza commented on #73
Hi @gaussianoLe,

You get an error when it's trying to initialize the database, could you try to follow these steps https://github.com/bitnami/bitnami-docker-airflow#using-the-docker-command-line?

[2021-03-17 14:24] gaussianoLe commented on #73
Hi @Mauraza,
I tried to use docker from the command line, but when I run airflow container with this command

`docker run -d --name airflow -p 8080:8080   -e AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=   -e AIRFLOW_EXECUTOR=CeleryExecutor   -e AIRFLOW_DATABASE_NAME=bitnami_airflow   -e AIRFLOW_DATABASE_USERNAME=bn_airflow   -e AIRFLOW_DATABASE_PASSWORD=bitnami1   -e AIRFLOW_LOA

[2021-03-18 13:30] johnstacy opened #75 "nami build installed in image uses outdated dependencies with vulnerabilities"
**Description**

nami tool is packaged with the following dependencies with open vulnerabilities:

xmldom v0.1.31 (dependency of nami-utils): https://nvd.nist.gov/vuln/detail/CVE-2021-21366
debug v3.2.6 (dependency of mocha): https://github.com/visionmedia/debug/issues/797
handlebars v4.7.6 (dependency of nami-utils): https://snyk.io/vuln/SNYK-JS-HANDLEBARS-1056767
lodash v4.17.20 (used by multipl

[2021-03-18 14:50] marcosbc commented on #75
Hi @johnstacy, thanks for reporting this! We are aware of the issues with Nami dependencies and Airflow.

In fact, we are currently working on migrating the initialization logic to be based on Bash scripts, which would be available in the [rootfs](https://github.com/bitnami/bitnami-docker-airflow/tree/master/2/debian-10/rootfs) folder of this repository. That way, we'd get rid of Nami for this ima

[2021-03-19 11:25] Mauraza commented on #73
Hi @gaussianoLe,

Could you stop all de containers (related to this issue) and run `docker system prune`?
after that check there are not volumes:
[code]
and them try to run a `docker-compose -up -d`

[2021-03-19 11:46] gfelot opened #76 "Cannot add custom DAG"
**Description**

Following the instructions I tried to add custom DAGs
https://github.com/bitnami/bitnami-docker-airflow#load-dag-files

here the airflow config
[code]
**Describe the results you received:**

I cannot find my custom dag (to be sure I took the PythonOperator exemple and renamed it)

[2021-03-19 12:58] #76 closed

[2021-03-19 21:26] alebelucio opened #77 "Any chance to have java already installed on the docker image?"
Error missing JAVA_HOME

Try to run SparkSubmitOperator from apache-airflow-providers-apache-spark results in a missing JAVA_HOME error, but when try to find any java package, there is none already installed into the image.
Any chance to have it as standard, since a lot of other providers like JDBC use it also?

**Steps to reproduce the issue:**

1. Mount the /bitnami/python/requirements within th

[2021-03-22 08:29] javsalgar commented on #77
Hi,

Adding Java to the container would imply a substantial increase in its size, so in principle we don't have any plans to add it unless there's a clear demand of using Java Spark jobs from the community. I'd like to leave this thread open to see if more users have this need with the container. Right now, my advice would be to fork the Airflow container and add Java to it.

If you add this line

[2021-03-22 10:22] gaussianoLe commented on #73
Hi @Mauraza ,
I did `docker volume rm $(docker volume ls -q)` and then `docker system prune`
this is the output after running containers:

[code]

[2021-03-22 13:21] Mauraza commented on #73
Hi @gaussianoLe,

It seems that the docker doesn't have permission, could you copy the `docker-compose.yaml `are you using?
Could you check that the folder are you using have permission to write?

[2021-03-22 13:29] alebelucio commented on #77
Hi Javier,

Thank you for your quickly reply, in fact we use the helm bitnami airflow image and to workaround the JAVA_HOME missing issue I`d extracted the openjdk 8 to a pvc(persistent volume) mounted it as extra volume inside the container passing its path as a extraEnvVars.
The openjdk 8 will increase 274 MB in image, openjdk 11 - 310MB it is some kind considerable but not as much if you consid

[2021-03-23 08:34] javsalgar commented on #77
Wow! That's impressive! Thanks for the input! Let's see what the community says on the matter

[2021-03-23 11:44] gaussianoLe commented on #73
Hi @Mauraza ,
I'm running it into a tmp folder in my home and with my user....so it should have enough permissions to do stuff.
Pasting docker-compose.yml
[code]

[2021-03-23 11:55] Mauraza commented on #73
Hi @gaussianoLe,

Could you run the following command?
[code]

[2021-03-23 12:17] johnstacy commented on #75
@marcosbc any idea on when this will be released? this is great news by the way!

[2021-03-24 09:17] marcosbc commented on #75
Hi @johnstacy, we expect to release it during this week as we are currently in the testing phase. Depending on the amount of issues we find, the release may be delayed to next week, but I don't think it would be delayed more.

[2021-03-30 23:49] danielcarvajal commented on #62
I had the same problem, but the workaround  does not work for me

[2021-03-30 23:52] danielcarvajal commented on #62
I can not make Airflow connect to Azure SQL Database. The error messages is the following

ERROR - (20002, b'DB-Lib error message 20002, severity 9:\nAdaptive Server connection failed (bdpruebasserver.database.windows.net)\n')
Traceback (most recent call last):
  File "src/pymssql.pyx", line 636, in pymssql.connect
  File "src/_mssql.pyx", line 1964, in _mssql.connect
  File "src/_mssql.pyx", line

[2021-03-30 23:57] VORUSRIK000 commented on #62
Pymssql works with Azure SQL Database only through FreeTDS. You will have to install that in the image prior to using pymssql package.

But the better and recommended option to connect AzureSQL is to use pyodbc, and the referred thread has details on how to get that package in airflow image.

I think in airflow 2.x version, pyodbc is enabled through the providers. You can check that.

From: Numa L

[2021-03-31 15:04] johnstacy commented on #75
@marcosbc is there somewhere i can follow the progress on releasing without nami?

[2021-03-31 16:35] marcosbc commented on #75
Hi @johnstacy, we are currently finding a few issues we're trying to work through before releasing. In addition, some team members are enjoying easter vacations so unfortunately this is being delayed. I would say it will be released during the next week, but I cannot guarantee so.

As for the progress update report, unfortunately we don't have a public site where we inform about the status of new

[2021-04-01 09:51] marcosbc commented on #73
Hi @gaussianoLe, you could try and set `command: sleep infinity` in the `airflow` container in the `docker-compose.yml`:

[code]

Then, deploy and `docker-compose exec airflow bash` to enter the container's console, and manually initialize Airflow and see if you get any errors:

[code]

For instance, if the command failing is at "Populating Airflow database", then you could do this:

[code]

And s

[2021-04-06 09:07] gaussianoLe commented on #73
Hi @marcosbc ,
thanks for the support. I did it. Once entered in the container and manually initialized airflow I had this error:
[code]
Then I forced to do DB init as you suggested:
[code]

[2021-04-07 07:33] Mauraza commented on #73
Hi @gaussianoLe,

It seems the error when you try to execute the DB init, is related to the operation system, where are you running these containers?

[2021-04-07 07:39] gaussianoLe commented on #73
Hi @Mauraza,
I run the stuff into a server with Centos 7.9 as SO. I have another identical server in which I don't have any issues with the same stuff. For that reason I decided to look for help.

[2021-04-08 13:51] dpostolovski opened #78 "timeout reached before the port went into state "inuse""
**Description**
Airflow worker and scheduler terminate after starting on docker-compose up, with the error:
` timeout reached before the port went into state "inuse" `

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
` timeout reached before the port went into state "inuse" `

**Describe the results you expected:**
Airflow worker and scheduler successfully started

[2021-04-08 16:33] johnstacy commented on #75
@marcosbc i noticed that the docker files have been updated to not use nami anymore. any word on when the helm charts will be updated to support the latest images?

[2021-04-08 17:06] marcosbc commented on #75
@johnstacy It should be done as part of https://github.com/bitnami/charts/pull/5733. In fact it appears as published for me:

[code]

(note: 9.0.0 is the new chart major)

Could it be that you didn't update your Helm repo locally? You can do that with this command:

[code]

[2021-04-08 18:28] adenton23 commented on #75
@marcosbc I seem to be having problems with the kubernetes executor using the newest images and 9.0.0 charts. Using the example DAGs the worker pods seem to error out quite quickly. Have you seen anything like this with the new images?
Error from the scheduler:

 ERROR - Executor reports task instance <TaskInstance: tutorial.print_date 2021-04-07 00:00:00+00:00 [queued]> finished (failed) although

[2021-04-09 08:09] Mauraza commented on #73
Hi @gaussianoLe,

Could you try to connect to PostgreSQL? for that you can follow the instructions of https://github.com/bitnami/bitnami-docker-airflow/issues/73#issuecomment-811794344 but instead to fo a DB init, you need to run the following command
[code]
If you don't change the password is: `bitnami1`

[2021-04-09 08:26] miguelaeh commented on #73
Hi @gaussianoLe ,
We recently released a new major version of the 3 aurflow containers.
They are now based on bash scripts that you can find at the very repository and that provide more transparency on what the image is doing.
Could you please try to reproduce the issue with the new images and share with us in case it still appear the exact steps to reproduce it so we can take a look in deeper?

A

[2021-04-09 11:27] miguelaeh commented on #75
Hi @adenton23 ,
The above PR should fix those errors.
Also, have in mind you are using the wrong value for `serviceaccount`, it should be `serviceAccount` (note the `A` in upper case)

[2021-04-09 11:27] #75 closed

[2021-04-09 14:19] migruiz4 commented on #78
Hi @dpostolovski,

Thank you very much for reporting this issue.

Both airflow-worker and airflow-scheduler are missing the environment variable `AIRFLOW_WEBSERVER_HOST` which defaults to `127.0.0.1`.

To resolve this issue, add the following env variable to both services (worker and scheduler) in the docker-compose:
[code]

I'm fixing this issue in all the 'docker-compose.yaml', sorry for the inc

[2021-04-12 13:43] getvenkat commented on #78
I'm learning Airflow and was bitten by this bug while installing it. Both airflow versions-1 and 2 are affected.

Thank you @dpostolovski for reporting this @migruiz4 for the quick fix.

I can confirm that adding that line fixes the issue.

[2021-04-13 06:56] migruiz4 commented on #78
Hi!

We have modified the airflow docker-compose so the worker and scheduler include now `AIRFLOW_WEBSERVER_HOST=airflow` by default.

I'm sorry for the inconvenience to everyone who found this issue.

[2021-04-14 05:56] cvargas-geo commented on #73
Hi @gaussianoLe , try docker-cmpose up -d --build --force-recreate

[2021-04-14 10:29] #68 closed

[2021-04-15 13:19] cvargas-geo commented on #27
Same error
`Welcome to the Bitnami worker container

Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-worker

Submit issues and feature requests at https://github.com/bitnami/bitnami-docker-worker/issues

nami    INFO  Initializing airflow-worker

airflow INFO  ==> No injected configuration files found. Creating default config file...

Error executing 'postInstall

[2021-04-16 07:44] javsalgar commented on #27
Could you provide more details about the docker-compose file you are using?

[2021-04-16 14:14] cvargas-geo commented on #27
`version: "3.7"
services:
    postgresql:
        image: docker.io/bitnami/postgresql:10-debian-10
        environment:
            - POSTGRESQL_DATABASE=airflow
            - POSTGRESQL_USERNAME=airflow
            - POSTGRESQL_PASSWORD=airflow
            - ALLOW_EMPTY_PASSWORD=yes
        deploy:
            restart_policy:
                condition: on-failure
                delay: 8s

[2021-04-19 07:37] javsalgar commented on #27
Hi,

I see there is a StackOverflow error, which seems like a programming error to me. I'm not sure how related that may be with the customizations, dags or plugins you are using. I would advise to start with a fresh Airflow instance (using our base docker-compose) and little by little start adding your customizations. If we are able to detect at which point it fails, we can get more insight about

[2021-04-20 01:27] #77 closed

[2021-04-20 01:27] #74 closed

[2021-04-20 01:27] #70 closed

[2021-04-21 16:27] ShawnMcGough opened #79 "airflow 2.0.2 image unavailable"
**Description**

**airflow** 2.0.2 image is [not available](https://hub.docker.com/r/bitnami/airflow/tags?page=1&ordering=last_updated&name=2.0.2) from docker hub.
**airflow-worker** 2.0.2 is [available](https://hub.docker.com/r/bitnami/airflow-worker/tags?page=1&ordering=last_updated&name=2.0.2).
**airflow-scheduler** 2.0.2 is [available](https://hub.docker.com/r/bitnami/airflow-scheduler/tags?pa

[2021-04-22 04:16] Narengowda opened #80 ""Column dag.last_parsed_time does not exist" error in airflow-scheduler"
**Description**
Airflow scheduler fails to boot with sqlalchemy error, missing column error

**Steps to reproduce the issue:**

1. Use the below mentioned docer-compose.yaml
2. docker-compose up -d
3. docker logs <container_id_of_airflow_scheduler>

docker-compose.yaml
[code]

** DAG table **
[code]

** Which commands I tried to fix this issue**
[code]

**The scheduler logs shows**
[code]

** Airf

[2021-04-22 07:23] Mauraza commented on #79
Hi @ShawnMcGough,

You are right, we are working on this version, I will update this thread when that version will be released.

Thanks for reporting!

[2021-04-22 10:00] juan131 commented on #80
Hi @Narengowda

It seems like you're using your custom plugins and dags, are you able to reproduce the exact issue without them? I just want to double-check that the issue is not related to that.

[2021-04-23 08:56] izhangzhihao commented on #79
Same issue as https://github.com/bitnami/bitnami-docker-airflow-worker/issues/11

[2021-04-23 09:06] carrodher commented on #79
Yes, is the same issue. In the above-mentioned issue, you can find a detailed explanation about why `bitnami/airflow:2.0.2` is not released at this moment.
About the mention in the README, it's a typo, this version is not available at this moment. We are working on fix the issues testing the Helm Chart

[2021-04-27 11:03] msmerc commented on #72
We also see this issue!

The airflow documentation says to do:

`pip install apache-airflow[odbc]`

http://airflow.apache.org/docs/apache-airflow-providers-odbc/stable/connections/odbc.html

But this leads to the same `gcc` error.

We'd expect this to work out-of-the-box given that all the other airflow providers do. Is it something that could be added do you think?

[2021-04-27 11:18] msmerc opened #81 "Question: Where does Bitnami get its upstream package from?"
I have a question - this image is basically pulling airflow via:

[RUN bitnami-pkg unpack airflow-2.0.1-1 --checksum 6f3f48e9b3717df7140abd7e007323682fd0a9c91c27ace5fbe0f38b6f2d2397](https://github.com/bitnami/bitnami-docker-airflow/blob/606f94f78377910bb8eaecd7de7cfeab0200c8d6/2/debian-10/Dockerfile#L18)

Looking at the `bitnami-pkg` script, this corresponds to a signed file from downloads.bitnam

[2021-04-27 15:09] rafariossaa commented on #72
Hi,
  I am creating an internal task to evaluate and add the build tools to our container image.
  We will come back as soon as we have news.

[2021-04-27 15:12] msmerc commented on #72
@rafariossaa - thanks, appreciated.

If you do `airflow info` in this image once it is running the `apache-airflow-providers-odbc` is conspicuously absent. I'm guessing it's all related.

[2021-04-28 07:50] javsalgar commented on #81
Hi,

This file is a compiled tarball that our automated system builds. The process for creating that tarball is tracking and fetching the source code tarballs and applying the proper compilation recipe, which basically done by running the python compilation commands (setup.py and similar). Currently we don't have these recipes publicly available I'm afraid.

The tool we use for compiling is blacks

[2021-04-28 08:24] rafariossaa commented on #72
Hi,
  Yes, I guess it is as consequence of the compiling error.

[2021-04-28 10:02] preuttip opened #82 "[bitnami/airflow-scheduler] ERROR - Exception when executing SchedulerJob._run_scheduler_loop Traceback"
**Description**

**Steps to reproduce the issue:**

1. Refer instruction of https://github.com/bitnami/bitnami-docker-airflow, I'm try to construct airflow not using docker-compose so I have followed the instruction from create network, Postgreql, Redis, Airflow, Airflow-scheduler and Airflow-worker. Only Airflow-scheduler got Exited(0), the rest is running well.
2.  Here is the code of airflow-sc

[2021-04-29 09:32] Mauraza commented on #82
Hi @preuttip,

could you tell us what version of airflow are you using?
[code]

[2021-04-30 07:23] preuttip commented on #82
Hi @Mauraza  ,

Here is it.

PS C:\Users\2400566> docker exec -ti airflow bash
I have no name!@4fd26f0364e4:/$ airflow version
2.0.1
I have no name!@4fd26f0364e4:/$

Thanks.

[2021-04-30 07:55] izhangzhihao commented on #79
Now version 2.0.2 is available.

[2021-04-30 08:11] Mauraza commented on #79
You are right @izhangzhihao, the 2.0.2 was released.

[2021-04-30 09:54] Mauraza commented on #82
Hi @preuttip,

there is a new version of airflow, could you check with this new version 2.0.2?
Thanks!

[2021-04-30 12:05] ShawnMcGough commented on #79
Thanks! Closing issue.

[2021-04-30 12:05] #79 closed

[2021-04-30 17:23] ShawnMcGough commented on #72
Bitnami has suggested [here](https://github.com/bitnami/charts/issues/5970) that this is by design.

This is how I solved it.
https://www.shawnmcgough.com/airflow-connect-to-sql-server-mssql/

[2021-05-03 07:58] rafariossaa commented on #72
Hi @ShawnMcGough
  Thanks for the feedback and for creating that blog post, that will be super useful for other users.
  On our side, I think it would be nice to have the compiling tools added by default to airflow image. This way users won't need to extend the image just to include them.

[2021-05-03 21:48] FabianDS2 commented on #72
Thanks for the article @ShawnMcGough - that will be helpful in the meantime. Our use case is getting Airflow working on MS Azure. On Azure, to get Airflow set up properly on App Services, you have to select the Bitnami image (which are already "loaded" as in you select from which Bitnami image you want) you want it to provision a container for. I don't think you can modify the image so having it a

[2021-05-03 21:51] FabianDS2 commented on #72
I see you're actually an Azure expert maybe @ShawnMcGough from your profile? We're a data science team of two people just getting to the cloud so configuring this type of stuff is super new, let alone Docker, etc. We figured the pre-provided Bitnami images were the easiest way to go

[2021-05-04 12:39] ShawnMcGough commented on #72
@FabianDS2 I hadn't thought to deploy Airflow within an App Service. Also, there are many deploy variants that can quickly add complexity (which it sounds like you're discovering)!  Which method are you using, exactly?

Unfortunately, connecting to Microsoft SQL Server is a feature not available 'out of the box' for any of the options currently available.

[2021-05-04 16:34] FabianDS2 commented on #72
@ShawnMcGough up until now, I've just been working with Airflow locally to get a feel for how it works since it was brand new. I took the DataCamp class on it and built the most basic POC I could locally. Our likely goal though is to get it to a point where it could be deployed to a non-local "site" where we could log in and manage/run pipelines etc to execute the queries for our SQL queries that

[2021-05-05 01:38] preuttip commented on #82
Hi @Mauraza

Can I just change the last line from "latest" to "2.0.2"?

$ docker run -d --name airflow -p 8080:8080 \
 -e AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho= \
 -e AIRFLOW_EXECUTOR=CeleryExecutor \
 -e AIRFLOW_DATABASE_NAME=bitnami_airflow \
 -e AIRFLOW_DATABASE_USERNAME=bn_airflow \
 -e AIRFLOW_DATABASE_PASSWORD=bitnami1 \
 -e AIRFLOW_LOAD_EXAMPLES=yes \
 -e AIRFLOW_PA

[2021-05-05 03:02] preuttip commented on #82
Hi @Mauraza ,

Thanks for your advice. It's seem to be working well after change tag version from "latest" to "2.0.2"

![image](https://user-images.githubusercontent.com/47513103/117092588-e9869180-ad88-11eb-8abc-2f47777ca8c6.png)

![image](https://user-images.githubusercontent.com/47513103/117092614-fefbbb80-ad88-11eb-9c2d-3b78153d16d8.png)

[2021-05-05 03:02] #82 closed

[2021-05-07 09:33] gaussianoLe commented on #73
Hi guys,
sorry for the delay. I was a "little" bit busy.
@miguelaeh I pulled the new versions and statred up the containers but there is an error on airflow:

`airflow_1            | /opt/bitnami/scripts/libos.sh: line 252:    39 Illegal instruction     "$@" > /dev/null 2>&1`

[2021-05-10 10:29] Mauraza commented on #73
Hi @gaussianoLe,

Could you add the version of airflow are you using? did you change the [docker-compose.yml](https://github.com/bitnami/bitnami-docker-airflow/issues/73#issuecomment-804835951) are you using?

[2021-05-10 11:08] gaussianoLe commented on #73
Hi @Mauraza ,
I pulled the updates as @miguelaeh suggested:
Then I started up the containers from bitnami-docker-airflow/2/debian-10/ directly...And then the issue happens....

[2021-05-11 05:15] kangtao opened #83 "How to turn off airflow login during first deployment"
**Description**

Hi,

I was using debian-10 docker compose to deploy airflow and I realized that I could not bypass airflow login during the first deployment. What I have tried:

Ran docker-compose down -v and made sure there were no old containers. Added AIRFLOW__WEBSERVER__RBAC=False
and AIRFLOW__WEBSERVER__AUTHENTICATE=False as env variables and then ran  docker-compose up.  The airflow web con

[2021-05-11 08:21] Mauraza commented on #73
Hi @gaussianoLe,

I was not able to reproduce it. I try with the following docker-compose.yml, could you tell us if you have something different?
[code]

[2021-05-11 10:05] gaussianoLe commented on #73
Hi @Mauraza,
the only difference is on image tag. I used :latest.
BTW I used your docker-compose.yml. This is the log:

[code]

I think both issues are related to postgres DB. It seems it can't create tables....Permissions are ok.. :(

[2021-05-11 10:08] Mauraza commented on #73
Hi @gaussianoLe,

Are you delete the previous volume? using for example `docker-compose down -v` or `docker volume prune -f`

[2021-05-12 07:12] Mauraza commented on #73
Could you try to change this line?
[code]
to
[code]

[2021-05-12 08:32] alemorcuq commented on #83
Yes, the container always creates an admin user at first deployment. See: https://github.com/bitnami/bitnami-docker-airflow/blob/ebef6c49b759a7224f8f36513fadf466bf42f01f/2/debian-10/rootfs/opt/bitnami/scripts/libairflow.sh#L97

I'm not very familiar with Airflow itself. Can it be used without creating an admin user?

[2021-05-12 09:15] gaussianoLe commented on #73
Hi @Mauraza ;
did it...but no luck.

[code]

[2021-05-12 10:47] gaussianoLe commented on #73
Hi @Mauraza,
we found the root cause. It was the VM CPU.
It was an `AMD Opteron(tm) Processor 6180 SE`. We changed it with an AMD Opteron(tm) Processor 6238.
Now Airflow is working as expeted.
Thank you all guys for the great support. :)

[2021-05-12 10:49] Mauraza commented on #73
Hi @gaussianoLe,

I'm glad the problem is solved 👏🏻,  do not hesitate to write us back if you have any other questions.

[2021-05-12 10:50] gaussianoLe commented on #73
Many thanks @Mauraza . Will do :)

[2021-05-12 14:23] #73 closed

[2021-05-14 01:29] #80 closed

[2021-05-15 00:06] echang0929 opened #84 "More configuration keys to enhance LDAP supports"
**Description**

Can not support Microsoft AD setup of LDAP configurations: https://github.com/bitnami/charts/issues/6082

**Additional information you deem important (e.g. issue happens only occasionally):**

We need to add more configuration keys (https://flask-appbuilder.readthedocs.io/en/latest/config.html#configuration-keys) in the file:
https://github.com/bitnami/bitnami-docker-airflow/blob/

[2021-05-17 07:06] miguelaeh commented on #84
Hi @echang0929 ,
Would you like to create a PR for this???

[2021-05-18 00:18] echang0929 commented on #84
@miguelaeh OK, let me try to create a PR today.

[2021-05-19 07:49] miguelaeh commented on #84
Thank you very much 👏

[2021-05-19 09:54] maneeshmenon opened #85 "Using airflow images from Azure market place"
Hi,

I used the docker compose to successfully setup airflow

Documentation
- https://github.com/bitnami/bitnami-docker-airflow#readme
- https://raw.githubusercontent.com/bitnami/bitnami-docker-airflow/master/docker-compose.yml

Deployment works fine and I am able to login to http://ip_address:8080

Now I wish to replace the following three images with the images provide in Azure market place.

Or

[2021-05-19 11:15] maneeshmenon commented on #85
Hi,

If we use the docker-compose as explained in the link: https://github.com/bitnami/bitnami-docker-airflow, then following should be the initial logs from the airflow container.

airflow 10:26:55.50 Welcome to the Bitnami airflow container
airflow 10:26:55.50 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-airflow
airflow 10:26:55.51 Submit issues and feature

[2021-05-20 01:27] #81 closed

[2021-05-20 06:12] juan131 commented on #85
Hi @maneeshmenon

According to the logs you shared, you didn't clean the docker volumes attached to the containers when you replace the images from DockerHub with the ones taken from Azure Marketplace.

To discard the issue is related with the persistence, could you please ensure that you start the Airflow container on a "clean" environment? I mean, that you remove the volumes before starting:

-

[2021-05-21 01:05] echang0929 commented on #84
@miguelaeh I've updated two files in my own fork:
* https://github.com/echang0929/bitnami-docker-airflow/blob/add-ldap-config-keys/2/debian-10/rootfs/opt/bitnami/scripts/airflow-env.sh
* https://github.com/echang0929/bitnami-docker-airflow/blob/add-ldap-config-keys/2/debian-10/rootfs/opt/bitnami/scripts/libairflow.sh

As you see, I added all LDAP-related keys, mapped them to new environment variab

[2021-05-21 01:24] echang0929 commented on #84
Test codes for checking LDAP parameters:
[code]

[2021-05-21 07:57] miguelaeh commented on #84
Hi @echang0929 ,
thank you very much for the effort on this.
About the parameters, we usually maintain both in order to have backwards compatibility. If the values they will contain have a similar format we use a kind of alias, like this on the Kafka container https://github.com/bitnami/bitnami-docker-kafka/blob/848024565b9b870454d3a5068edcd57f574a2c08/2/debian-10/rootfs/opt/bitnami/scripts/libkaf

[2021-05-24 10:41] echang0929 commented on #84
Great suggestion, I'll learn and try to apply a similar method

[2021-05-24 15:31] dasilvhe opened #86 "Adding local application DB connection and localstack S3 connection"
Hi,

I am trying to add a local application postgres database connection and a connection for my localstack S3 instance into the configuration files so they are loaded when I build the docker image.

Where is the best location to add these connections so they are automatically added when I build the docker image?

Also, do you have an example of what that snippet would look like?

Local stack exam

[2021-05-26 18:22] cleveritcz opened #87 "timeout reached before the port went into state "inuse""
Hello,
I am getting an unhealthy containers of airflow-scheduler and airflow-worker.

I got in UI this error:
`The scheduler does not appear to be running.

The DAGs list may not update, and new tasks will not be scheduled.`

In bash I see:

I use this docker-compose:

Could you help me?

[2021-05-26 18:37] cleveritcz commented on #87
I resolve it.

[2021-05-26 18:37] #87 closed

[2021-05-28 06:16] migruiz4 commented on #87
Hi @cleveritcz,

I'm glad you were able to resolve the issue!

Usually, the error `timeout reached before the port went into state "inuse"` is caused by the scheduler or worker not being able to connect with the webserver.

For other users running into this same issue, did you solve the issue by adding `AIRFLOW_WEBSERVER_HOST` to your docker-compose?

[2021-06-01 16:22] cleveritcz commented on #87
yes, exactly. It was missing.

[2021-06-01 23:21] joehoeller opened #88 "Loading Custom DAGs"
Why cannot I pass a env var like AIRFLOW_MY_DAGS to a local folder path or vol mount?
There doesnt seem to be a way to do this at all.

Please advise or update docs in README. Thx!

This def does not work ->

[code]

Also, this doesn't work either, and it still loads the example files:

[code]

[2021-06-01 23:58] joehoeller commented on #38
@dani8art i have tried this and to no avail - any ideas?

[2021-06-02 01:32] #83 closed

[2021-06-02 06:54] rafariossaa commented on #87
Hi,
  Thanks for sharing.

[2021-06-02 11:22] Mauraza commented on #88
Hi @joehoeller,

Could you access into docker of airflow and run the following command and check if your dags appear?
[code]
About `AIRFLOW_LOAD_EXAMPLES`, did you added to airflow-scheduler, airflow-worker, and airflow?

[2021-06-02 11:26] joehoeller commented on #88
Hey Ibone, thanks for getting back to me. It’s 630 here, let me get
breakfast & coffee and fire up my laptop. I’ll post back here shortly :)

On Wed, Jun 2, 2021 at 6:22 AM Ibone González Mauraza <
***@***.***> wrote:

[2021-06-02 12:03] alvneiayu commented on #38
hi @joehoeller

I saw that you opened a new [issue](https://github.com/bitnami/bitnami-docker-airflow/issues/88). We will continue the conversation there.

Thanks a lot

Álvaro

[2021-06-02 14:49] joehoeller commented on #88
@Mauraza - here is what I did and the output, clearly something is wrong:

[code]

[2021-06-02 14:51] joehoeller commented on #88
@Mauraza Here is my ```docker-compose``` file set up:

[code]

[2021-06-02 14:52] joehoeller commented on #88
@Mauraza This is how I set up my ```docker-compose``` file:

[code]

[2021-06-02 15:06] joehoeller commented on #88
@Mauraza i did update each service in docker compose with ```- AIRFLOW_LOAD_EXAMPLES=no````, and now that works.

I also followed these instructions, and ran the crontab, but the custom dags still do not register:
https://docs.bitnami.com/azure-templates/infrastructure/apache-airflow/configuration/sync-dags/

[2021-06-03 07:30] rafariossaa commented on #88
Hi,
  Did you get the DAGs in the dashboard ?

  Have into account that those instructions are for the Azure VMs, and not for the containers.

[2021-06-03 10:42] joehoeller commented on #88
Nope. What’s the correct config because I have everything set up in
docker-compose as shown, ABR it’s not working.

Please advise,
Joe

On Thu, Jun 3, 2021 at 2:30 AM Rafael Ríos Saavedra <
***@***.***> wrote:

[2021-06-03 23:38] echang0929 commented on #84
@miguelaeh I've updated two files in my fork:
- https://github.com/echang0929/bitnami-docker-airflow/blob/add-ldap-config-keys/2/debian-10/rootfs/opt/bitnami/scripts/airflow-env.sh
- https://github.com/echang0929/bitnami-docker-airflow/blob/add-ldap-config-keys/2/debian-10/rootfs/opt/bitnami/scripts/libairflow.sh

They include backwards compatibility. However, when I tried to test them using docke

[2021-06-04 07:55] miguelaeh commented on #84
Could you check if you had a previous Postgresql volume that is being used? it can happen that the tables are not correct if you had persisted data from a previous version

[2021-06-04 11:36] rafariossaa commented on #88
Hi,
  I am trying to reproduce it and find a solution.

[2021-06-04 11:50] joehoeller commented on #88
Thank you 🙏🏻

On Fri, Jun 4, 2021 at 6:37 AM Rafael Ríos Saavedra <
***@***.***> wrote:

[2021-06-04 13:17] rafariossaa commented on #88
Hi,
  Could you try getting into the container and running the following?
[code]

[2021-06-06 03:05] echang0929 commented on #84
@miguelaeh I'm sure that I've pruned volumes, but I always got ERROR message in Postgresql container logs when I started airflow container (current bitnami version 2 on docker hub):
[code]

As I know, Airflow official docker-compose includes a db initialization step before running full airflow container.
[code]

Do you think there is any gaps?

[2021-06-06 03:20] echang0929 commented on #84
Looks like Airflow official docker-compose has the similar ERROR:
[code]

Let me do more investigation and testings.

[2021-06-07 07:38] miguelaeh commented on #84
I think you are using a docker-compose right? Could you share it so I can help with that?

[2021-06-08 19:13] echang0929 commented on #84
For Airflow official version: https://github.com/apache/airflow/blob/2.0.2/docs/apache-airflow/start/docker-compose.yaml, I followed the guide: https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html#initializing-environment
[code]
I've submitted an issue at Airflow repository: https://github.com/apache/airflow/issues/16332

For bitnami airflow docker, I followed:
[code]
Even, foll

[2021-06-09 08:12] NiklasKnoll opened #89 "Adding Provider Package: apache-airflow-providers-microsoft-mssql"
Hi,
i tried adding the apache-airflow-providers-microsoft-mssql provider package using a requirements.txt.

I added follwing packages in to the file:
`apache-airflow-providers-microsoft-azure`
`apache-airflow-providers-microsoft-mssql`

The startup succeeds and i am able to login.
In the airflow providers list shown by using the command airflow providers list, the msswl provider is not shown.

If

[2021-06-09 08:48] rafariossaa commented on #89
Hi,
  Could you check if you have any errors in the logs ? Maybe there are some dependencies missing or something similar.

[2021-06-09 08:50] miguelaeh commented on #84
Hi @echang0929 ,
I am able to reproduce the issue. It seems that despite of that error in the postgresql log, Airflow seems to be working fine.
It could be an upstream issue, since it seems to happen in the upstream one too. Let's see what they answer to your issue.
Thank you very much for the work you did on this!

[2021-06-09 09:49] NiklasKnoll commented on #89
I had a look... I do not see any missing dependencies.
[
[logs.txt](https://github.com/bitnami/bitnami-docker-airflow/files/6622816/logs.txt)
](url)

[2021-06-09 18:32] knightoftheshadows opened #90 "install python package from git not working"
-------------------------------
    BUG REPORT INFORMATION
-------------------------------

When I provide a git repository to be installed with pip in requirements.yaml it returns an error saying that git is not installed.

For example, in my requirements.yaml there is this line:

[code]

But after deploying, the pods keep crashing, and the logs include this:
[code]

[2021-06-10 08:13] rafariossaa commented on #89
Did you saw any message in the log when listing the providers ?
I am not a airflow expert, I would suggest you to ask in airflow forums, maybe something more is needed to make it work.

[2021-06-10 09:59] alemorcuq commented on #90
From the error, it looks like `git` is not present in the image. You will need to extend the image to add `git` to your image.

However, I will discuss with the team the possibility to add `git` to the image by default as I think it's something useful.

[2021-06-11 01:26] #85 closed

[2021-06-12 16:47] NiklasKnoll commented on #89
When I run the `airflow providers list` command the mssql provider package is not listed.
As in the logs I provided the package gets installed successfully.

[2021-06-14 07:10] rafariossaa commented on #89
Hi,
  In that case, I would recommend you to ask in airflow forums.

[2021-06-15 18:58] sstshenshutao commented on #88
got the same problem.
fixed by mounting to all three containers: scheduler worker and airflow

docker.io/bitnami/airflow-scheduler:2.0.2-debian-10-r30
docker.io/bitnami/airflow-worker:2.0.2-debian-10-r29
docker.io/bitnami/airflow:2.0.2-debian-10-r18

[2021-06-16 01:25] #86 closed

[2021-06-16 10:36] Mauraza commented on #88
Hi @sstshenshutao,

Thanks for sharing your solution!!

[2021-06-16 11:11] joehoeller commented on #88
Yea I got it working my adding “dag” folder to same location as docker
compose, and of course running the airflow-init cmd first, then
docker-compose up cmd second.

It appears that maybe only one or more folders for volume mounts are
required.

On Wed, Jun 16, 2021 at 5:36 AM Ibone González Mauraza <
***@***.***> wrote:

[2021-06-16 14:58] #88 closed

[2021-06-19 17:13] Vince2022 opened #91 "How to change the local or default location of the log directory?"
**Description**

We are using Bitnami Airflow helm chart on our kubernetes cluster.  I am having trouble mounting a PVC, used for logging, to each of the web, scheduler and worker PODS. This PVC is also mounted in other REST endpoint PODS.  After changing the default BASE_LOG_FOLDER in Airflow, through ENV VARIABLE, I get permission denied messages in the Kubernetes logs for the scheduler when I t

[2021-06-21 09:01] grmoktan opened #92 "upgrade apache-airflow-providers-cncf-kubernetes to pass image_pull_policy in KubernetesPodOperator correctly"
**Description**

The apache-airflow-providers-cncf-kubernetes provider is 1.0.0 version (at least till helm chart version 10.2.1 ).

There seems to be bugs fixed since (https://airflow.apache.org/docs/apache-airflow-providers-cncf-kubernetes/stable/index.html#id6) ... especially with regards to the image pull policy

Is there some way to custom upgrade the provider packages on existing helm chart?

[2021-06-21 14:55] migruiz4 commented on #91
Hi @Vince2022,

I wasn't able to reproduce your issue using the following configuration for the scheduler, worker and web Airflow pods:
[code]

I think your issue might be related to your Storage Class, and seems it is not only affecting the logs volume but also the Data volume.

Is it possible that you are using an NFS? This type of issue is frequently caused by how NFS handles permissions and ow

[2021-06-23 12:09] Vince2022 commented on #91
Hi @migruiz4,

We are using GPFS...
So far, I have been able to get the mounted volumes working in each of the component types: web, scheduler, worker.
However, the airflow scheduler still has an issue trying to write to the "mounted" log directory.
Bitnami seems to use a different format for writing log files then plain airflow.
The bitnami path format is: /opt/bitnami/airflow/logs/{component}/{d

[2021-06-24 15:34] migruiz4 commented on #91
Hi again @Vince2022,

Answering your questions:

To change the local log path, you can add the environment variable to all of the Airflow pods using `extraEnvVars` as in my previously example
[code]
This will change airflow logging location to `/logs/{component}/{date}`.

----

Regarding the permissions issue, folders under `/opt/bitnami/airflow/logs/` are created and therefore owned by the Airflo

[2021-06-25 11:26] NiklasKnoll commented on #89
The thing is that the installation of the package does only not work for your image.
I did the same thing with the official apache images - it was working well.
We wanted to use the Azure Marketplace Images for our Customers, but they need more than the packages provided by the bitnami image used.

[2021-06-28 14:45] alvneiayu commented on #89
hi @NiklasKnoll

I can not reproduce your issue, I created the requirements.txt (with both providers) like this:
[code]
I mounted it using the docker-compose:
[code]
after the Airflow initialization, I listed the providers:
[code]
[code]
Let me know if I can help you with something else.

Thanks a lot for your time.

Álvaro

[2021-07-01 01:25] #90 closed

[2021-07-01 01:25] #84 closed

[2021-07-15 01:24] #91 closed

[2021-07-19 01:24] #89 closed

[2021-07-21 15:01] maneeshmenon opened #93 "OAuth with Azure Active Directory"
Hi,

I attempted the following. Enabled SSL, created a self signed certificate, used flask-appbuilder to get the file webserver_config.py

Integration with Azure AD is happening successfully. I am prompted to enter my active directory user id and password. After that I get the message asking "Stay signed in" to which I say "yes"....  But after that I get the message "invalid login. please try agai

[2021-07-21 16:44] maneeshmenon commented on #93
Hi, is this a possible reason. Is my user id getting overriden?

http://mail-archives.apache.org/mod_mbox/airflow-commits/201804.mbox/%3CJIRA.13152338.1523637903000.259938.1523647920150@Atlassian.JIRA%3E

[2021-07-21 17:32] maneeshmenon commented on #93
HI, is this a possibility
https://issues.apache.org/jira/browse/AIRFLOW-2321?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=16747315#comment-16747315

[2021-07-22 04:47] maneeshmenon commented on #93
Is this a possible reason?
https://stackoverflow.com/questions/61958403/airflow-1-10-10-behind-nginx-proxy-oauth-redirect-url-http-instead-of-https

[2021-07-22 05:15] maneeshmenon commented on #93
Is this a problem?
https://www.gitmemory.com/issue/airflow-helm/charts/87/797342707

[2021-07-22 09:41] rafariossaa commented on #93
Hi,
  The config looks fine for me.
  There are several reason for this issue, have you tried posting this issue in airflow or azure forums ? Maybe they come up with some help on how to debug this issue.

[2021-07-23 10:48] maneeshmenon commented on #93
Hi, one message I have observed in stdout of web server is Error returning OAuth user info: 'upn'

[2021-07-23 10:52] maneeshmenon commented on #93
Hi, one message I have observed in stdout of web server is Error returning OAuth user info: 'upn'. What could be the ideal way to handle it. Unlike one solution I saw, I may not want to use the config map.

[2021-07-26 07:14] rafariossaa commented on #93
Hi,
  Could you paste the error and some context ? I am not sure what you means by "the ideal way to handle it".

[2021-07-26 08:29] maneeshmenon commented on #93
Hi,

I have solved the error on upn. It was expected, but upn was not part of the token. I made changes in my Azure Active Directory app registration, so that upn value is also sent. Use of email as unique identifier instead of UPN, in my option would have been ideal.

At present I am getting the following error message "Redirected too many times" in my firefox browser.

Could you please confirm o

[2021-07-26 12:18] maneeshmenon commented on #93
Hi,

Based on the redirect urls I have provided, after auth from AAD, the code is passed to https://<ip address>/oauth-authorized/azure and the from there it goes to https://<ip address>/home and then to https://<ip address>/login/?next=https%3A%2F%2F10.83.210.52%2Fhome and it just comes back to home and then to login again.

The application should be able to take the code and pass it to get an Ac

[2021-07-27 07:13] maneeshmenon commented on #93
Hi, 'upn' claim was not getting sent from azure active directory I got that working ... is it possible to replace email as unique identifier instead of UPN?

[2021-07-27 07:25] maneeshmenon commented on #93
Hi ... Thanks. I got it working.

I have one basic question. Since I have enabled "AUTH_USER_REGISTRATION = True", the "Register" button appears in the home page. Is it possible to enable OAuth, self register and not have the 'register' button in the home page?

[2021-07-27 07:27] rafariossaa commented on #93
Sincerely, I don't know. Maybe you can ask Azure on this as it it AD related.
In the documentation [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-userprincipalname)  it seems they are using email for the username, so I guess yes, but I am not sure.

[2021-07-27 07:35] maneeshmenon commented on #93
Hi, I have two more questions..

I was able to successfully setup Apache Airflow with OAuth (with Azure Active Directory)

May this question is more to the flask-appbuilder team...

Is it mandatory to save user credentials in ab_user table. Can this be overrident? They may not be in sync with my organization's security policies.

Also, since I have enabled "AUTH_USER_REGISTRATION = True", the "Reg

[2021-07-28 07:28] rafariossaa commented on #93
Hi,
  I am sorry,  as we don't develop airlfow applications we are not able to give you a proper answer on this.
  I think those questions are more indicated for airflow's forums.

[2021-07-28 23:39] laxmikanth-d opened #94 "Unable to login tried airflow and also customeruser"
**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version**

- Output of `docker version`:

[code]

- Output of `docker info`:

[code]

- Output of `docker-compose version` (if

[2021-07-29 14:25] alemorcuq commented on #94
Please, fill the template with information about your issue so we can help you,

[2021-08-05 14:13] ITJamie opened #95 "need ability to put airflows flask process into debug logging mode"
**Description**

I am trying to debug a connection issue between airflow and our LDAP server. Initial auth works fine (it doesnt complain about
 bind credentials, giving bad admin creds will give an error) however no username and password combo will work at our login page. no errors or warnings appear in the container logs to state if ldap had an issue etc.

I started investigating more into this

[2021-08-06 08:41] Mauraza commented on #95
Hi @ITJamie,

Could you try adding the environment variable `BITNAMI_DEBUG=true`?
I found this issue https://github.com/bitnami/charts/issues/6336 maybe it can help you

[2021-08-06 08:44] ITJamie commented on #95
Ive tried that too since posting this. Still did not show the flask auth logs

[2021-08-06 09:35] Mauraza commented on #95
Hi @ITJamie,

Did you add `AIRFLOW__LOGGING__FAB_LOGGING_LEVEL` https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#fab-logging-level?

[2021-08-06 09:39] ITJamie commented on #95
Oooh. Thank you! Ill try this next.

On Fri 6 Aug 2021 at 10:36, Ibone González Mauraza ***@***.***>
wrote:

[2021-08-09 06:07] Mauraza commented on #95
Hi @ITJamie,

Did that variable help you?

[2021-08-09 20:27] ITJamie commented on #95
That did work! Closing out

[2021-08-09 20:27] #95 closed

[2021-08-19 16:39] ITJamie opened #96 "request: airflow.cfg - allow setting of secret_key with a variable"
**Description**

I need to be able to set secret_key in airflow.cfg. Its currently randomly generated when airflow.cfg file is first created

**Steps to reproduce the issue:**

1. start a new instance of bitnami-airflow docker container. view /opt/bitnami/airflow/airflow.cfg - secret_key variable is generated
2. remove existing volume. repeat step 1, there will be a different generated var

**Desc

[2021-08-20 01:22] #94 closed

[2021-08-20 06:33] juan131 commented on #96
Hi @ITJamie

Did you try to set the `AIRFLOW_FERNET_KEY` env. variable as suggested in the Configuration section and examples?

- https://github.com/bitnami/bitnami-docker-airflow#airflow-configuration

AFAIK that's the key used to encrypt communications. You can find more information in the Airflow docs:

- https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/fernet.html

[2021-08-21 17:57] romellfudi commented on #17
Thats works for me (docker-compose)

[2021-08-22 19:05] ITJamie commented on #96
That did infact work. It might be worth updating the docs a bit to mention the importance of this

[2021-08-22 19:05] #96 closed

[2021-09-07 10:49] e-compagno opened #98 "Airflow worker container does not work (exit code 2)"
**Description**

**Steps to reproduce the issue:**

1. Clone the project `git clone git@github.com:bitnami/bitnami-docker-airflow.git`
2. Run `docker-compose up`

**Describe the results you received:**

1. Errors are generated when postgres starts:
[code]

2. Errors are generated when airflow-worker starts:

[code]

**Describe the results you expected:**

The worker container should start and run,

[2021-09-07 11:48] e-compagno opened #99 "Airflow-scheduler"
**Description**

I am following the instructions step-by-step in section **Mount host directories as data volumes using the Docker command line**. When I try to launch airflow-scheduler I get the error `timeout reached before the port went into state "inuse"`

**Steps to reproduce the issue:**

1. `docker network create airflow-tier`
2.

[code]

3.

[code]

4.

[code]

5.

[code]

**Describe the r

[2021-09-08 07:14] Mauraza commented on #99
Hi @e-compagno,

Could you check if the container of airflow is running `docker ps`?

If not please check the logs `docker logs airflow`, does `mkdir: cannot create directory ‘/bitnami/airflow’: Permission denied` appear in the logs?  In this case, you can run `chmod g+w /path/to/airflow-persistence/`

If the airflow is running could you share the logs?

[2021-09-08 09:42] alemorcuq commented on #98
Hi, @e-compagno. Thanks for reporting this. I have been able to reproduce it on a MacOS but not on Linux. I'm working on a fix.

[2021-09-08 10:07] alemorcuq commented on #98
I have been able to reproduce it on a Linux machine as well.

[2021-09-08 10:21] #98 closed

[2021-09-08 10:21] alemorcuq commented on #98
A new `airflow-worker` image with the fix should be released in the next hours.

[2021-09-08 10:36] e-compagno commented on #99
Hi @Mauraza I'm making the checks you told me and I will let you know in a while. In any case the problem might be also connected to this https://github.com/bitnami/bitnami-docker-airflow/issues/98 .

[2021-09-08 11:02] e-compagno commented on #99
airflow container is running. The result of the log is

[code]

I don't see any permission problem here.  For airflow-scheduler the result of the log is

[code]

This is the script I have used for deploying airflow

[code]

[2021-09-08 14:04] alemorcuq commented on #98
`2.1.3-debian-10-r14` and `1.10.15-debian-10-r155` were released containing this change.

[2021-09-09 07:38] Mauraza commented on #99
Hi @e-compagno,

Could you add in your script ` -e AIRFLOW_WEBSERVER_HOST=airflow` in the command of creation `airflow-scheduler`?

[code]

[2021-09-09 13:32] e-compagno commented on #99
It seems to be working now. I would suggest updating information in https://github.com/bitnami/bitnami-docker-airflow/blob/master/README.md

[2021-09-13 07:34] Mauraza commented on #99
Hi @e-compagno,

We will update the README.md soon. Thanks for reporting!

[2021-09-17 00:39] kodeine commented on #88
@salinaaaaaa can you please paste the working copy of docker-compose file.

Thanks

[2021-09-21 15:15] ITJamie opened #102 "previous change has made certain ldap configurations impossible"
**Description**

[this](https://github.com/bitnami/bitnami-docker-airflow/commit/5c440af48bffb9d82d324a8342312cc3d5ac533c#diff-fe52335a3f4514e26da526c375844185e453bee5e854901cb692af7828a37507) change has locked away the ldap configuration option AUTH_LDAP_ALLOW_SELF_SIGNED which has stopped me from moving away from a manually managed webserver_config.py config file

There is no need for this optio

[2021-09-23 12:44] ITJamie commented on #102
@Mauraza Any chance of looking at this? I was preparing to move our staging airflow back to autogenerated configuration files after you merged https://github.com/bitnami/bitnami-docker-airflow/pull/101 when i noticed the issue above re LDAP

[2021-09-24 06:20] alemorcuq commented on #102
Thanks for reporting this and opening a PR to fix it! Our team is already reviewing it.

Sorry for the late reply, it looks like this ticket didn't get into our system until your second message.

[2021-09-28 09:14] ITJamie commented on #102
@randradas merged this PR a few days ago. There has not been any new images pushed to docker hub since. Any ETA on when this will be live on docker hub?
https://hub.docker.com/layers/bitnami/airflow/2/images/sha256-9c1c51784189cef4dc8f8d497bda818f212cdb872feb84b86593f0d0021ece22?context=explore - 5 days ago

[2021-09-28 12:50] 554919 opened #105 "Missing JAVA_HOME"
Error missing JAVA_HOME

I try to run a DAG with a Spark connection but there is no Java installed.

Sorry for my beginner question but is there a way to install java within the docker-compose.yml ?

Steps to reproduce the issue:
- Mount the /bitnami/python/requirements with apache-airflow-providers-apache-spark
- run DAG with spark
-
Describe the results you received:
JAVA_HOME is not set

[2021-09-28 20:03] miro-ka opened #106 "ERROR: relation "connection" does not exist at character 55"
**Not able to build docker-compose airflow instance**

Trying to run docker compose on provided yml file - https://github.com/bitnami/bitnami-docker-airflow/blob/master/docker-compose.yml

**Steps to reproduce the issue:**

1. $ curl -LO https://raw.githubusercontent.com/bitnami/bitnami-docker-airflow/master/docker-compose.yml
2. $ docker-compose up

Docker version 20.10.8, build 3967b7d

**Descri

[2021-09-29 06:26] juan131 commented on #106
Hi @miro-ka

It looks like Airflow is trying to access a relation that doesn't exist.. This usually happens when there's a misspell in the code.

It looks like somebody already reported the issue in Airflow:

- https://github.com/apache/airflow/issues/18327
- https://github.com/apache/airflow/discussions/18328

Could you please follow the conversation there? It doesn't look to me like an error in

[2021-09-29 11:21] yilmi commented on #105
No problem, I was just about to respond! You can use minideb's install_packages if needed, more details here - https://github.com/bitnami/minideb#why-use-minideb

[2021-09-29 23:47] almiavicas opened #107 "Permission denied error when declaring a custom volume"
**Description**

I am adding a volume to store yaml files, but the airflow containers are trying to remove the files inside this folder.
The containers log a Permission denied message when they try to delete these files, and then they all exit with code 1.

**Steps to reproduce the issue:**

  1. Declare the airflow scheduler, worker and webserver containers with
[code]
2. Run `docker-compose up`

[2021-09-30 08:06] alemorcuq commented on #102
Hi, @ITJamie. It looks like some recent changes were causing some issues in our internal pipeline. A new image was released yesterday, could you check that one?

[2021-09-30 08:42] ITJamie commented on #102
confirmed and its working as expected now

[2021-09-30 08:42] #102 closed

[2021-09-30 13:15] yilmi commented on #107
Hi @almiavicas, we have documented how you could mount volumes https://github.com/bitnami/bitnami-docker-airflow#mount-host-directories-as-data-volumes-with-docker-compose

This is because we expect persisted data to be available in specific places. Could you also check if the permissions of the volume you're trying to mount allow for modification by the container user 1001 (https://github.com/bit

[2021-09-30 21:42] almiavicas commented on #107
Thank you so much, your documentation helps a lot :+1:

[2021-09-30 21:42] #107 closed

[2021-10-04 01:26] #99 closed

[2021-10-12 11:37] ITJamie opened #109 "AIRFLOW_LDAP_ROLES_MAPPING has been made manditory for ldap enabled configs. no examples given"
**Description**

AIRFLOW_LDAP_ROLES_MAPPING has been mandatory but no example config has been given.
setting AIRFLOW_LDAP_ROLES_MAPPING="" has allowed bypassing of this option

**Steps to reproduce the issue:**

1. create docker-compose without AIRFLOW_LDAP_ROLES_MAPPING var

**Describe the results you received:**

setup will fail

**Describe the results you expected:**

previously not required, A

[2021-10-12 11:42] ITJamie opened #110 "airflow 1.x is now EOL. consider removing?"
**Description**

Airflow 1.x has been EOL with no support since June 17th. Removal of 1.x code should be considered

[2021-10-13 08:32] alvneiayu commented on #109
hi @ITJamie

It seems that this is a mandatory variable enabling LDAP ([case](https://stackoverflow.com/questions/68536810/airflow-with-ad-auth-stuck-in-a-redirect-loop-at-login)). This variable fixes a redirect loop problem. [Here](https://github.com/bitnami/charts/pull/7484/files) you can find the PR including this variable. It is true that we included LDAP examples in our chart ([here](https://

[2021-10-13 11:35] #110 closed

[2021-10-20 01:26] #106 closed

[2021-10-20 22:15] eclipsetalk opened #111 "ldap.tls.CAcertificateFilename not encoded as a string"
Hello,
I'm trying to use LDAP with Ariflow 2.1.14.
I've noticed 2 issues when one defines ldap.tls certificate:

1. **allowSelfSigned** is not encoded as a string so one needs to use single/double quotes
2.  **CAcertifacteFilename** is not encoded as a string and therefore the web container fails as described below:

[code]

The corresponding helm chart:
[code]

For 1. A quick fix is to add " | qu

[2021-10-21 08:19] Mauraza commented on #111
Hi @eclipsetalk,

About 1 I just create a PR with the fix, and for the 2, could you check the example a try with single quotes?
https://github.com/bitnami/charts/blob/416cfd0acc9a49cc10223f52eb5fa5a703d9aaed/bitnami/airflow/values.yaml#L900-L902

[2021-10-21 18:04] eclipsetalk commented on #111
@Mauraza  Pls let me know once there is PR and it is merged and released as I'm trying out Ldap integration with airflow 2.2.0.  Thank you!!

[2021-10-21 18:25] TJM commented on #111
Changing the helm chart to have a double+single quoted value for the environment variable as per above is a *workaround* for the actual problem. The setup.sh ... or further the  https://github.com/bitnami/bitnami-docker-airflow/blob/03e3841b2af7a9f1c513af4a7cf14b39893365fd/2/debian-10/rootfs/opt/bitnami/scripts/libairflow.sh#L308-L322 ... is playing fast and loose with types... if the value is sim

[2021-10-25 01:59] eclipsetalk opened #112 "Airflow 2.2.0 LDAP integration broken with TLS disabled"
Hello,
When I disable TSL for LDAP with Airflow 2.2.0. I get the following error.
[code]

The package python-ldap is installed.

Here is my ldap definition in the chart:
[code]

[2021-11-02 14:05] marcosbc commented on #112
Hi @eclipsetalk, you should get a notification from this thread once the original issue is closed. If not, you can always 'watch' the other issue in the GitHub UI.

[2021-11-02 20:50] eclipsetalk commented on #111
@Mauraza what's holding this issue? Thx

[2021-11-02 20:56] TJM commented on #111
The fix for this is somewhat non-trivial. It requires parsing the "value" to figure out its type (at least at a high level, numeric, boolean, string) to determine whether or not to quote it when writing it. I am certain that someone else has already solved this problem. It could also potentially be re-written to just "read" the values from the env :-/ 🤷

[2021-11-03 01:23] #109 closed

[2021-11-04 10:54] javsalgar commented on #111
Well, I imagine that we could apply some regex to detect whether it is a string, an integer or a boolean. This is something that we have not fully solved yet and I'm afraid it is still in our backlog. However, we are open to contributions so if someone wants to speed up the process and submit a PR we will review and provide feedback :D

[2021-11-09 20:06] buffaloDeveloper commented on #41
I've got a similar need to add connections to the docker image.  @ze-correia what did you end up doing?  Can you please share.

[2021-11-10 02:20] eclipsetalk opened #117 "Airflow 2.2.1 Failed to fetch log file from worker for externaly triggered DAG"
Hello,
I've encountered an issue with Airflow 2.2.1 (2.2.1-debian-10-r0).
It fails to fetch log files from worker for externally triggered DAG (_Run Type_ is **manual** and _External Trigger_ is **True**). The log files are not generated.
It works fine when the DAG is triggered via the scheduler, the log file is generated (_Run Type_ is **scheduled** and _External Trigger_ is **False**).

Thanks i

[2021-11-11 09:03] migruiz4 commented on #117
Hi @eclipsetalk,

I tried to reproduce your issue using the [bitnami/airflow](https://github.com/bitnami/charts/tree/master/bitnami/airflow) Helm chart, but I was able to run the sample DAG `example_python_operator` manually and collect the logs. (schedule_interval=None and run_type='manual')

Could you please provide some additional information about your deployment?

[2021-11-11 12:59] eclipsetalk commented on #117
@migruiz4 thanks for the follow up.
Please find here my airflow config list, a screenshot of the 'Sample dag' and the dag itself. I can view the logs for the scheduled runs but not the manual one.
For the manual one I get this error:
[code]

[sample-dag.py.txt](https://github.com/bitnami/bitnami-docker-airflow/files/7520525/sample-dag.py.txt)

[code]

<img width="1458" alt="DAG" src="https://user-

[2021-11-12 01:47] eclipsetalk commented on #117
I've noticed that if I set "schedule_interval=None", I can collect the logs but if not I can only collect the logs when the scheduler triggers a run but if I trigger it manually, the logs are not present. It seems like a bug.

[2021-11-12 09:02] pablogalegoc commented on #117
Hi @eclipsetalk,

Do you think this can be related to this issue https://github.com/apache/airflow/issues/15767?
I see that in the first try it uses the configured `base_log_folder = /opt/bitnami/airflow/logs`, but then it switches to `/log` on the remote.

[2021-11-12 15:58] eclipsetalk commented on #117
@pablogalegoc I don't think it's the same issue as I'm only using on worker. This one has to do with the schedule_interval being set to something else than None with External Trigger "True" then logs are not generated

[2021-11-15 10:30] pablogalegoc commented on #117
Okay, let me take a closer look because this seems to me like an upstream issue, unrelated to our Docker image or Helm chart. I'll get back to you.

[2021-11-15 10:30] ITJamie commented on #112
@marcosbc any idea when that PR is going to be merged?

[2021-11-15 22:35] buffaloDeveloper opened #119 "Cannot restore persisted state"
When I stop docker compose and try to restart it throws an error:

[code]

I end up having to delete everything to get it working again:

`docker-compose down --volumes --remove-orphans`

Why is this happening?
Docker version 20.10.7, build f0df350
docker-compose version 1.29.2, build 5becea4c
ProductName:	macOS
ProductVersion:	11.6
BuildVersion:	20G165

Here is my compose file:

[code]

Requireme

[2021-11-16 09:45] javsalgar commented on #119
Hi,

Could you set the BITNAMI_DEBUG environment variable to true to see if the logs show anything more meaningful?

[2021-11-16 16:30] buffaloDeveloper commented on #119
I can no longer replicate the issue after the last rebuild.  Closing for now.

[2021-11-17 17:19] pablogalegoc commented on #117
Hi again @eclipsetalk,

I've not being able to reproduce your issue.

I've created a ConfigMap with your file:
[code]
And configured it in the values `dags.configMap=sample-dag-cm`.
I see the same runs as you:

<img width="1724" alt="Screenshot 2021-11-17 at 18 15 13" src="https://user-images.githubusercontent.com/983316/142249216-d690a67a-a382-4643-8534-eb774f6979c6.png">
But I can collect the lo

[2021-11-17 17:47] marcosbc commented on #112
@ITJamie Unfortunately not. However I recommend to continue the discussion in the PR. If it is blocked by the reviewer, just sending a ping or ask to have it reviewed again should be enough.

[2021-11-17 22:50] eclipsetalk commented on #117
Hi  @pablogalegoc
Which airflow container tag are you using? I'm using **2.2.1-debian-10-r0**
Also the difference (I don't use dags.configmap), I sync my dags from a branch in a Gitlab repo.
I'm still get the same error, unless I specify the schedule_internal=None or the dag run on schedule
Thanks -

[2021-11-19 12:07] pablogalegoc commented on #117
Same here

Can't reproduce it even getting them from a repo

Could you share the parameters you've changed in the `values.yaml`? Thanks!

[2021-11-19 13:43] eclipsetalk commented on #117
For the git sync:

[code]

And for the dag configmap
[code]
Thanks!

[2021-11-22 10:09] pablogalegoc commented on #117
I've been unable to reproduce the issue on my side, sorry. If setting `schedule_internal=None` to mitigate the issue is not acceptable I'd recommend trying to reproduce it with the minimal changes to the default parameters. Hopefully that way we can see where the problem is. Sorry again.

[2021-11-23 16:06] eclipsetalk commented on #111
@Mauraza, I see this issue is still on-hold. Do you have an update?
Thank you!

[2021-11-24 17:07] eclipsetalk commented on #112
Any updates on this PR? Thx

[2021-11-25 13:40] Mauraza commented on #111
Hi @eclipsetalk,

I'm testing the changes, I will update the thread when I have more information.

[2021-11-25 17:06] Mauraza commented on #111
Hi @eclipsetalk,

In the next revision of the airflow, the problem will be solved.
Thanks for reporting!!

[2021-11-26 10:05] marcosbc commented on #112
@eclipsetalk The PR was just merged, the tag `2.2.2-debian-10-r7` should have the fix.

[2021-11-26 10:05] #112 closed

[2021-11-29 17:02] buffaloDeveloper commented on #119
I am getting the same problem again, here is the error log I see:

[code]

[2021-11-29 18:32] eclipsetalk commented on #111
Hi @Mauraza
Any ETA estimates for the next revision?
Thanks

[2021-11-30 12:37] pushkinsk44 opened #121 "AUTH_LDAP_SERVER SyntaxError: invalid syntax"
Hello!
catching error when deploying Airflow 2.2.2 with LDAP = true
I use the image bitnami/airflow:2.2.2-debian-10-r8

`  File "/opt/bitnami/airflow/webserver_config.py", line 92
    AUTH_LDAP_SERVER = ldaps://ххх.yyy.com:636
                            ^
SyntaxError: invalid syntax`

Having experimented a little, I found out that the reason is in these [changes](https://github.com/bitnami/bitnam

[2021-12-01 10:26] miguelaeh commented on #121
Hi @pushkinsk44 ,
Could you share how your configuration file ended up? It seems the PR you referenced is setting the `AUTH_LDAP_TLS_CACERTFILE` as a string while it wasn't before.

[2021-12-01 10:50] pushkinsk44 commented on #121
I don't have a config file because it is generated automatically by libairflow.sh when the airflow-web pod starts.
Since I get an error, the pod does not start and I cannot pull out the resulting config.

It cannot be related to AUTH_LDAP_TLS_ CACERTFILE because tls is disabled.
And the error text clearly indicates the line that caused the error

[2021-12-02 03:18] eclipsetalk opened #122 "ElacticSearch write_stdout"
Hello,
I'm using airflow tag: 2.2.2-debian-10-r7 - I need to setup elasticsearch writ_stdout to true. When I set it in the chart as follow it has no effect:

[code]

I edited the airflow.cfg to set the values, stopped and restarted airflow. The settings were updated but then there reverted to defaults once the server restarted.
Can I use an env variables to set the write_stdout, and why isn't it w

[2021-12-02 10:03] miguelaeh commented on #121
I just saw the issue. The logic seems to be in the wrong order here:
[code]

[2021-12-03 22:16] eclipsetalk commented on #117
@pablogalegoc - I still get the issue - Did you configure the _remote_base_log_folder_? In my case I haven't as the logs are picked up by a filebeat agent running on the cluster to be sent to logstash.

I also get this issue even though that I have defined under the web, the scheduler and the worker sections as below:
[code]

[code]

[2021-12-05 22:37] izzycodes opened #123 "postgresql_remote_execute: command not found"
**Description**

Hi!

In attempting to get a simple deployment of Airflow working locally, I decided to use Bitnami's instructions for Docker Compose, but was unable to.

**tl;dr**

There seems to be an issue with some of the recent image builds with respect to `libairflow.sh`, but I was able to get the `docker-compose.yml` up and running by reverting to the following images:

- `docker.io/bitnami

[2021-12-06 18:42] eclipsetalk commented on #111
Hi @miguelaeh, could you please give an update on the blocking issue in the pipeline?
Thanks

[2021-12-07 00:44] eclipsetalk opened #124 "Ariflow 2.2.1"
Hello,
I'm using Airflow 2.2.2 (2.2.2-debian-10-r7). Sometimes I can't access the DAGs logs due to a 403 error although I have defined AIRFLOW__WEBSERVER__SECRET_KEY under the web, the scheduler and the worker sections in the helm chart as follow :

[code]

[code]
Any pointers are greatly appreciated!
Thanks

[2021-12-07 11:45] tekon92 commented on #123
same issue happened to me, @izzycodes do you find any updates ?

[2021-12-07 14:50] javsalgar commented on #119
Hi,

Do you have a minimal setup that triggers the issue that we can use to just execute down and up? Something like a tarball or a github repository.

[2021-12-07 16:04] javsalgar commented on #124
Hi,

Do you see any pattern on the fact that sometimes the logs are inaccesible? It is in a specific set of DAGs? Is it when accessing a certain worker node?

[2021-12-07 20:28] izzycodes commented on #123
Hey @tekon92 , in poking around in the code (specifically [libadmin.sh](2/debian-10/rootfs/opt/bitnami/scripts/libairflow.sh) ) I don't see the offending line, so am unsure of a PR. However, was able to run it by changing the image tag in the `docker-compose.yaml` to:

[2021-12-08 13:43] eclipsetalk commented on #124
@javsalgar I can't pinpoint a pattern. I was just wondering if I'm setting up the AIRFLOW__WEBSERVER__SECRET_KEY correctly.
Thanks

[2021-12-09 10:40] javsalgar commented on #117
Does the issue happen with Airflow 2.2.2? @randradas worked on the logs permission issue in our latest images?

[2021-12-09 12:45] javsalgar commented on #123
Hi,

Which is the libadmin.sh file that you are referring to? Do you mean libairflow.sh?

[2021-12-09 16:31] javsalgar commented on #111
Hi,

I'm afraid we are still working on the issue. As soon as we have more news we will update the ticket.

[2021-12-10 11:54] aalemanq commented on #123
This helps me a lot

[2021-12-13 15:31] marcosbc commented on #124
@eclipsetalk Note that in our container solutions, we are supporting the `AIRFLOW_SECRET_KEY` envvar which sets the entry in the config file.

Another thing to check is that the envvar is properly set. Note that we see a lot of cases where people set the envvar with the trailing newline, due to generating the secret with a command like this:

[code]

while it should be created with a command like

[2021-12-14 16:18] eclipsetalk commented on #124
Thanks for the tip -  I checked the secret value is set properly

[2021-12-15 11:18] miguelaeh commented on #121
Closing this as it was fixed some days ago

[2021-12-15 11:18] #121 closed

[2021-12-15 17:54] eclipsetalk commented on #117
Yes it does happen with 2.2.2 - I'm using 2.2.2-debian-10-r7

Thanks

[2021-12-16 22:06] eclipsetalk commented on #111
If there is a work-around in the meantime that we could leverage from?
Thx

[2021-12-17 09:48] marcosbc commented on #124
Sorry, but I'm not sure what can be the issue. I know that we support an envvar named `AIRFLOW_SECRET_KEY` which sets the property in the config file. You can try it and see if it works. For the Bitnami chart, that parameter is named `auth.secretKey`.

[2021-12-17 17:39] willim32533 opened #125 "spark_default connection indicates Amazon Web Services for Connection Type"
The Edit Connection page indicates "Amazon Web Services" for the Connection Type of spark_default.  What should the connection type be for hosting spark and airflow locally?

[2021-12-17 17:47] carrodher commented on #125
For information regarding the application itself or customization of the content within the application, we highly recommend checking forums and user guides made available by the project behind the application.

That said, I will keep this ticket open until the stale bot closes it just in case someone from the community adds some valuable info.

[2021-12-17 18:08] willim32533 commented on #125
My apologies, thank you for your feedback.  I have subsequently posted the question to the Airflow repo discussion board.

[2021-12-20 14:46] rafariossaa commented on #117
Hi,
  I tried in minikube with the [provided sample-dag.py](https://github.com/bitnami/bitnami-docker-airflow/issues/117#issuecomment-966282207-permalink). I created the configmap with:
[code]
and then deployed airflow with:
[code]
And I was no able to reproduce the issue, I got the log:

[code]

Could you try that ?

[2021-12-22 16:08] juan131 commented on #111
A new revision (`2.2.3-debian-10-r0`) was released very recently, see:

- https://github.com/bitnami/bitnami-docker-airflow/commit/bc5de856a3b9d51a449a3ee9e7b96b6cf2a51c6d

Are you able to reproduce the issue using this latest version?

[2021-12-22 17:01] eclipsetalk commented on #111
Still getting an error. I've created a custom container for now

[2021-12-23 07:34] juan131 commented on #111
Thanks for confirming so @eclipsetalk

Sorry for going back but I didn't have the whole context of what's going on.. I guess the issue is that `airflow_webserver_conf_set` isn't quoting the configuration values that it sets at `webserver_config.py` resulting on syntax errors, am I right? References:

- https://github.com/bitnami/bitnami-docker-airflow/blob/master/2/debian-10/rootfs/opt/bitnami/scr

[2021-12-23 12:09] eclipsetalk commented on #111
@juan131 that's correct the CA cert path is not stri g encoded.

[2021-12-24 09:26] juan131 commented on #111
Hi @eclipsetalk

Thanks so much!! I could identify the issue and fixed it @eclipsetalk
Please give a try to the version `2.2.3-debian-10-r0)` that was just released, see:

- https://github.com/bitnami/bitnami-docker-airflow/commit/7de39b9f59e90642dcccb04a979fc86522838650

[2021-12-24 15:54] eclipsetalk commented on #117
Thanks @rafariossaa - I tried that however sometimes I'm still getting this error in the logs. Could you please, share how you set up your secret key in your bitnami chart for the web, worker and scheduler?
Thank you!
* !!!! Please make sure that all your Airflow components (e.g. schedulers, webservers and workers) have the same 'secret_key' configured in 'webserver' section !!!!!
*

[2021-12-25 17:00] jitendrakrgupta commented on #117
Hi..we are seeing a similar problem with helm chart version 11.1.11 and Airflow 2.2.2 with KubernetesExecutor.
Our test dag tries to run a kubectl command on another k8s cluster :

[code]
The worker pod's np1omsrestartnp1omsgwrestart.f19009d13e984d35b9a23adef4480d35 stdout is captured in UI but the taskpod's np1-oms-gw-restart.ac31febc272b448fba5c757dbb3e5841 stdout is not there in UI.The kubectl

[2021-12-27 09:54] rafariossaa commented on #117
@jitendrakrgupta Would you mind opening a new issue ? That way we track track it properly. Thanks forehand

@eclipsetalk , I was not using those secrets. Could you point me to a configuration example where those environment vars are used ? Maybe there are other parameters to be set or configured in the initialization logic. Have you checked that ?

[2021-12-27 12:10] jitendrakrgupta opened #126 "Unable to see tasklogs on UI with helm chart version 11.1.11 and Airflow 2.2.2 with KubernetesExecutor"
**Description**
We are unable to see tasklogs on UI with helm chart version 11.1.11 and Airflow 2.2.2 with KubernetesExecutor.
Our test dag tries to run a kubectl command on another k8s cluster :

DAG :-
[code]
The worker pod's np1omsrestartnp1omsgwrestart.f19009d13e984d35b9a23adef4480d35 stdout is captured in UI but the taskpod's np1-oms-gw-restart.ac31febc272b448fba5c757dbb3e5841 stdout is not t

[2021-12-27 12:11] jitendrakrgupta commented on #117
Sure @rafariossaa #126 submitted.

[2021-12-27 13:14] eclipsetalk commented on #117
@rafariossaa See https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#secret-key

[2021-12-27 15:13] eclipsetalk commented on #111
@juan - I tried 2.2.3-debian-10-r3 and it works fine.
Thank you loads!

[2021-12-27 15:13] #111 closed

[2021-12-28 10:12] juan131 commented on #111
Great!! I'm very glad it worked!

[2021-12-28 10:13] rafariossaa commented on #117
@jitendrakrgupta Thanks

[2021-12-28 10:31] rafariossaa commented on #117
Could you check if inside the flask application are you getting the right values that you passed ?

[2021-12-29 01:25] #119 closed

[2021-12-30 01:47] maccaveli6 opened #127 "Helm help deploying to EKS"
I have the latest helm airflow working locally and can access the web-ui using port forwarding.  what configurations are needed to deploy this on EKS?  What is the recommended way to access the UI in production?

Thanks!

[2021-12-30 08:52] javsalgar commented on #126
Looking at this

[code]

It seems that some RBAC privileges are missing. Do you have any other service account that has more privileges just to see if the issue has to do with RBAC?

[2021-12-30 08:58] javsalgar commented on #127
Hi,

Please note that we don't provide this kind of consulting services. The best settings may depend on your platform and the requirements of your company (some use LoadBalancer, others Ingress...). In any case, we will leave the ticket open to see if someone from the community wants to participate.

[2021-12-30 17:04] maccaveli6 commented on #127
I have tried using LoadBalancer on the web service.  When I tried to connect directly, I got a message that says Airflow is not here, informative, but not useful.
I have tried using Ingress controller.  Don't exactly know how to configure it to work with this.

@javsalgar - your message is equally useful as the airflow message.

Does anyone have any useful info on how to actually get the web front

[2021-12-31 09:50] javsalgar commented on #127
Hi,

Just to confirm, when you set the service to LoadBalancer you get some extra instructions in order to update the release in order to complete the deployment. Did you follow them? You can check them by running `helm status <name_of_your_release>`

[2022-01-01 01:27] #123 closed

[2022-01-07 01:28] #125 closed

[2022-01-07 01:28] #124 closed

[2022-01-10 17:08] eclipsetalk commented on #117
@rafariossaa How can I check inside the flask app? I see that the AIRFLOW_SECRET_KEY variable is set for the workers scheduler and web.

[2022-01-11 10:44] rafariossaa commented on #117
I googled and I think in python you can get the environment variables by using [this](https://able.bio/rhett/how-to-set-and-get-environment-variables-in-python--274rgt5)

[2022-01-17 17:55] SVibhakar commented on #27
Hello, I am getting the same error. I am using ubuntu on windows.

`airflow-airflow-webserver-1 exited with code 1
airflow-flower-1             | ....................
airflow-flower-1             | ERROR! Maximum number of retries (20) reached.
airflow-flower-1             |
airflow-flower-1             | Last check result:
airflow-flower-1             | $ airflow db check
airflow-flower-1

[2022-01-18 09:53] javsalgar commented on #27
Hi,

It seems there is a permission issue in your deployment, could it be that the volumes you are using don't have the proper permissions set?

[2022-01-20 01:29] #126 closed

[2022-01-22 01:23] #127 closed

[2022-01-25 23:43] electrical opened #128 "each restart sets up default connections"
**Description**

We've noticed that with each restart of airflow ( i suspect the web instance ) all defaults get setup including default connections.

**Steps to reproduce the issue:**

1. install airflow
2. Remove existing connections and add own
3. Restart webserver
4. See all default connections returned

**Describe the results you received:**

Default connections are added to the list again

*

[2022-01-26 09:41] javsalgar commented on #128
Hi,

Could you confirm you are using persistent volumes in the installation? Which is the Kubernetes Cluster you are using?

[2022-01-26 10:00] electrical commented on #128
Hi, we aren't using any persistent volume. All data is stored in Postgres which I presumed was enough?
Also the airflow helm chart does not provide any persistence for the web instance

[2022-01-28 07:28] juan131 commented on #128
Hi @electrical

That's not enough, Airflow containers also need to persist some data/configuration. Find more information in the link below:

- https://github.com/bitnami/bitnami-docker-airflow#persisting-your-application

[2022-01-28 10:01] electrical commented on #128
@juan131 The airflow helm chart seems to indicate something else:

https://github.com/bitnami/charts/tree/master/bitnami/airflow#persistence

Also, the helm chart doesn't provide any persistence of data.
Is this a major discrepancy in functionality?

[2022-01-31 07:51] juan131 commented on #128
Hi @electrical

As you can see in [this code block](https://github.com/bitnami/bitnami-docker-airflow/blob/master/2/debian-10/rootfs/opt/bitnami/scripts/libairflow.sh#L114-L147), the behavior is different when it detect there's existing data:

- No existing data: It initialize the PostgreSQL database and it creates the admin user and pool. Then, it persists the data.
- Existing data: It simply upg

[2022-01-31 09:35] electrical commented on #128
@juan131 I understand the process.
But if this is what's being expected, I don't understand why the helm chart doesn't provide the functionality to persist the data.

[2022-02-01 01:25] #117 closed

[2022-02-01 11:44] juan131 commented on #128
You're completely right.. There's sth we're missing here but the setup we have in the chart doesn't make much sense to me since it's not respecting the existing database when Airflow pods are recreated.

Indeed I came across with this issue where @randradas also mentioned a race conditions issue when running multiple Airflow web replicas that seems to be related with the same thing:

- https://git

[2022-02-01 11:54] electrical commented on #128
I do wonder what data needs to be persisted. So far with each restart everything is working fine since all data is stored in the postgres database anyway.
The only "issue" i'm seeing right now is that the setup is run which sets up the default connections.
Shouldn't it be enough to check if the database is initialised?

[2022-02-02 14:15] juan131 commented on #128
@electrical FYI check the comment I just shared in the PR below describing my proposal to address this issue:

- https://github.com/bitnami/charts/pull/7855#issuecomment-1027982058

[2022-02-02 17:25] electrical commented on #128
Shared writable storage is quite limited in options. CephFS and NFS come to mind, most likely there are more.
This still doesn't solve the issue I'm having since I only have a single web container instance.

I don't understand what kind of data the web instance needs to persist on the filesystem while all relevant data is in the database.

[2022-02-04 07:50] juan131 commented on #128
Hi @electrical

FYI: As an alternative to NFS, I'm also considering using an init-container on every replica that check the existence of the required tables in the database and use this as the "semaphore" to skip populating it. Expect updates on this topic soon.

[2022-02-09 15:04] ejanik1997 commented on #27
Hi,

I am experiencing the same issue as [SVibhakar], I think our setups are fairly similar if no the same.

As I understand, as I am running docker-compose up in the directory, I should only prepare dirs in that folder, there shouldn't be anything under /opt/airflow/..., since it would be created and managed by the docker if the permissions would suffice?

So, my main question is how do I handle

[2022-02-09 15:15] SVibhakar commented on #27
Hello

I checked the volume permissions and they are all fine. I think it is the
path issue for the Airflow folder. I am using docker-airflow from ubuntu
cmd prompt on windows and I am not able to find where the internal folder
is at.
Thank you & stay safe.

Regards,
Sejal Vibhakar

On Wed, Feb 9, 2022 at 9:04 AM ejanik1997 ***@***.***> wrote:

[2022-02-09 16:49] juan131 commented on #128
Hi @electrical

Please check my last comment at https://github.com/bitnami/charts/issues/7178 that also address this specific issue.

[2022-02-09 16:49] #128 closed

[2022-02-10 10:49] ejanik1997 commented on #27
I've found a clue, something about airflow UID being different from airflow UID, but I just don't know how to tackle the issue yet. If it's important, I'm using the macOS

docker-compose.yaml
[code]

logs after running docker-compose up

[code]